/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_a784750015ccf188439e6cb699a2477d.eot");
  src: url("./fontcustom_a784750015ccf188439e6cb699a2477d.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_a784750015ccf188439e6cb699a2477d.woff") format("woff"),
       url("./fontcustom_a784750015ccf188439e6cb699a2477d.ttf") format("truetype"),
       url("./fontcustom_a784750015ccf188439e6cb699a2477d.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_a784750015ccf188439e6cb699a2477d.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-cross:before,
.icon-facebook:before,
.icon-nav:before,
.icon-next:before,
.icon-pause:before,
.icon-play:before,
.icon-soundcloud:before,
.icon-tick:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-cross:before { content: "\f10a"; }
.icon-facebook:before { content: "\f103"; }
.icon-nav:before { content: "\f10c"; }
.icon-next:before { content: "\f106"; }
.icon-pause:before { content: "\f107"; }
.icon-play:before { content: "\f108"; }
.icon-soundcloud:before { content: "\f104"; }
.icon-tick:before { content: "\f10b"; }
.icon-twitter:before { content: "\f105"; }
