<section class="row tech long-copy-line-height include-bg-img">

  <img src="./images/tech/bg-new.png" class="img-bg" />

  <div class="main-content">

    <!-- <div class="col-30 col-left"> -->

    <nav class="tabbed-nav">
      <ul class="nav-items nav-items-small">
        <li ng-repeat="category in vm.tech"
            ng-click="vm.setActiveCategory(category.title)"
            ng-class="{active: vm.activeCategory === category.title}"
            class="no-anchor">
          <span>{{category.title}}</span>
        </li>
      </ul>
    </nav>
    <!-- </div> -->

    <!-- <div class="col-70 col-right"> -->
    <section class="tabbed-content cancel-padding">
      <ul>
        <li ng-repeat="category in vm.tech">
          <ul ng-class="{active: vm.activeCategory === category.title}" class="tabbed-content-list">
            <li ng-repeat="item in category.items" ng-class="{last: $last}">
              <span ng-bind-html="item.title"></span>
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <!-- </div> -->

  </div>

  <div class="row button-view-nav">
    <a ui-sref="contact" class="button">
      <span>Contact Fiona</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>