<section class="row tech long-copy-line-height include-bg-img">
  <h1 class="sr-only">Technology used by Fiona Ross &amp; collaborators</h1>

  <img src="./images/tech/bg-new.png" class="img-bg" />

  <div class="main-content">

    <nav class="tabbed-nav">
      <ul class="nav-items nav-items-small">
        <li ng-repeat="category in vm.tech"
            ng-click="vm.setActiveCategory(category.title)"
            ng-class="{active: vm.activeCategory === category.title}"
            class="no-anchor">
          <span>{{category.title}}</span>
        </li>
      </ul>
    </nav>

    <section class="tabbed-content cancel-padding">
      <ul>
        <li ng-repeat="category in vm.tech">

          <ul ng-class="{active: vm.activeCategory === category.title,
                         'contains-sub-items': category.subItems.length,
                         first: $first}"
              class="tabbed-content-list">
            <li class="category-title-mobile-only text-uppercase">{{category.title}}</li>

            <li ng-repeat="item in category.items"
                ng-class="{last: $last}">

              <span ng-bind-html="item.title"></span>

            </li>

          </ul>

          <ul ng-class="{active: category.subItems.length && vm.activeCategory === category.title}"
              class="tabbed-content-list tabbed-content-list-sub-items">
            <li ng-repeat="subItem in category.subItems"
                ng-class="{last: $last}">
              {{subItem.title}}
            </li>

          </ul>

        </li>
      </ul>
    </section>

  </div>

  <div class="row button-view-nav">
    <a ui-sref="contact" class="button">
      <span>Contact Fiona</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>