@import '../../styles/variables';

.tech

  .main-content
    margin 0 auto
    text-align center
    max-width 760px
    overflow hidden
    @media (min-width 1060px)
      padding-top $gutter-primary-xx-lg

  .tabbed-nav,
  .tabbed-content
    width 100%

  .tabbed-nav
    transform skew(28.3deg)
    margin-left 2px

    li span
      transform skew(-28.3deg)

  .tabbed-content
    max-width 450px
    margin 0 auto
    @media (min-width 1060px)
      width 97%
      max-width 97%
      margin-left 2.8%
      min-height 280px

  .tabbed-content-list
    background $tabbed-content-bg-mobile
    margin-top $gutter-primary-x-lg
    @media (min-width 1060px)
      margin-top 0
      background $tabbed-content-bg-desktop
    &.first
      margin-top 0

    @media (min-width 1060px)
      transition all 0.5s ease
      opacity 0
      height 0
      overflow hidden

    &.active
      opacity 1
      height auto
      margin-top $gutter-primary-x-lg
      &:first-child
        @media (min-width 1060px)
          margin-top 0
          padding-top $gutter-primary-lg
          padding-bottom $gutter-primary-lg
    li
      text-align center
      padding $gutter-primary-xs 0
      border-bottom solid 2px rgb(23, 23, 23)
      @media (min-width 1060px)
        padding $gutter-primary 0
      &.last
        border-bottom 0 none

    &.contains-sub-items
      padding-bottom 0
      li.last
        border-bottom 0 none

  li.category-title-mobile-only
    background $tabbed-content-heading-bg-mobile
    color $color-highlight-primary
    border-bottom $tabbed-content-heading-border
    @media (min-width 1060px)
      display none

  .tabbed-content-list-sub-items
    padding-top 0 !important
    margin-top 0 !important

  .button-view-nav
    @media (max-width 1060px)
      margin-top $gutter-primary-x-lg
