<section class="row tech include-bg-img">

  <img src="./images/tech/bg-new.png" class="img-bg" />

  <div class="main-content">

    <div class="row album grid-col-hover">
      <h3>Just Me (and sometimes someone else)</h3>

      <div class="row inner">
        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h4 class="box-heading">Guitars</h4>
            <div class="content">
              <ul>
                <li>Fender Stratocaster</li>
                <li>Taylor 114ce</li>
                <li>Hohner LW400N</li>
                <li>Ibanez semi-hollow</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h4 class="box-heading">Guitar Amps</h4>
            <div class="content">
              <ul>
                <li>Fender Reverb Deluxe (1970s)</li>
                <li>Fender Blues Deluxe</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="row inner">

        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h4 class="box-heading">Drums</h4>
            <div class="content">
              <ul>
                <li>Liberty drum kit</li>
                <li>Vector Hardware</li>
                <li>Evans Drum heads</li>
                <li>Promark sticks</li>
                <li>Sabian cymbals</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h4 class="box-heading">Sax</h4>
            <div class="content">
              <ul>
                <li>Jupiter JAS-700</li>
                <li>Mouthpiece - Meyer Hard Rubber 5m</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="row inner">
        <h4>Engineered using</h4>

        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h6 class="box-heading">Mics</h6>
            <div class="content">
              <ul>
                <li>Bock 251</li>
                <li>Audix DP4 drum mics</li>
                <li>SE Electronics SE1A</li>
                <li>Shure SM57</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h6 class="box-heading">Monitors</h6>
            <div class="content">
              <ul>
                <li>Focal Twin Be</li>
                <li>Yamaha NS10</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h6 class="box-heading">Outboard</h6>
            <div class="content">
              <ul>
                <li>Toft ATB32 analog console</li>
                <li>UAD 6176</li>
                <li>Antelope Orion 32</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row inner">

        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h4 class="box-heading">Mixing</h4>
            <div class="content">
              <ul>
                <li>Mixed in Logic Pro X</li>
                <li>Used various plugins from the following companies:</li>
                <ul>
                  <li>WAVES</li>
                  <li>FABFILTER</li>
                  <li>SLATE DIGITAL</li>
                  <li>SOFTUBE</li>
                  <li>NATIVE INSTRUMENTS</li>
                  <li>CYTOMIC</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-50-sm col-333-md">
          <div class="inner">
            <h4 class="box-heading">Mastering</h4>
            <div class="content">
              <ul>
                <li class="link-highlight-hover link-highlight-hover-border">by <a href="http://fluidmastering.com" target="_blana">fluidmastering.com</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row button-view-nav">
    <a ui-sref="contact" class="button">
      <span>Contact Fiona</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>