@import '../../styles/variables'

.reflections-in-blue-page

  .main-content
    margin 0 auto
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

    .intro
      @media (min-width $bp-md)
        padding-bottom $gutter-primary-x-lg

    @media (min-width $bp-md)
      .col-right
        padding-left $gutter-primary-x-lg

  .excerpt
    text-align center
    padding-top $gutter-primary-x-lg
    padding-bottom $gutter-primary
    @media (min-width $bp-md)
        padding-top 0
        padding-bottom 0
    .quote
      @media (min-width $bp-md)
        max-width 60%
        margin-right auto
        margin-left auto
    
    .interlude-title,
    div
      font-size 1.1em
      @media (min-width $bp-sm)
        font-size 1.3em

    .interlude-title
      margin-bottom $gutter-primary-lg
      @media (min-width $bp-md)
        margin-bottom $gutter-primary-x-lg

    div
      font-style italic

  .row-first
    @media (min-width $bp-md)
      padding-bottom $gutter-primary-x-lg

  .col-paypal
    text-align center
    padding-top $gutter-primary-x-lg
    font-size 1.1em
    @media (min-width $bp-sm)
      font-size 1.3em
    @media (min-width $bp-md)
      font-size 1em
