@import '../../styles/variables'

fr-footer
  overflow hidden

footer
  position relative
  z-index 3
  .nav
    background-color #0b0b0b
    color $color-text-tertiary
    @media (min-width $bp-xs)
      transform skew(-18.3deg)
      margin-top $section-gutter-horizontal
      margin-right 55px
      float right
      width 361px
      max-width 361px

    .container
      background-color #0b0b0b
      padding 1em 1em 2em 1em
      @media (min-width $bp-xs)
        transform skew(18.3deg) !important
        max-width 253px
        padding-left 0
        padding-right 0
        padding-bottom 0.5em
        margin-right: -72px;
        margin-left 0
        float right
        padding-right: 40px;
        max-width 319px
        padding 2.5em 2.5em 1.5em 2.5em
        padding-left 0
        padding-right $gutter-primary-lg + $gutter-primary

    h4
      font-size 1.7em
      padding 0 $gutter-primary
      letter-spacing 1px
      font-weight 300
      color $color-white
      @media (min-width $bp-md)
        font-size 1.9em

    li
      font-size 1em
      @media (min-width $bp-md)
        font-size 1.130em

      i
        margin-top -2px
        margin-right 0.55em
        transition all 0.4s ease

        &.icon-s-s
          font-size 1.1em
          margin-right 0.45em

        .icon-s-f
          &::before
            margin-top 5px

    a
      width 100%
      color $color-white
      transition all 0.3s ease
      @media (min-width: $bp-md)
        width auto

    .nav-links
      a
        display inline-block
        padding $gutter-primary $gutter-primary-lg
        opacity 0.9
        font-size .9em
        letter-spacing 1px
        img
          margin-right 9px
          display inline-block
          vertical-align middle
        &:hover,
        &:focus
          outline 0 none
        @media (min-width: $bp-md)
          &:hover,
          &:focus
            opacity 1
            i,
            img
              transform rotate(360deg)
  
  .misc-links
    margin-top 2em
    padding 0 $gutter-primary-lg
    @media (min-width: $bp-sm)
      margin-top 4em
      text-align right
    p
      margin-bottom 0
      font-size .9em
      letter-spacing 1px
    a
      opacity .5
      font-size .9em
      letter-spacing 1px
      transition all .3s ease
      &:hover,
      &:focus
        outline 0 none
        opacity 1

