<section class="row music-album-reviews include-bg-img">

  <h1 class="sr-only">Reviews</h1>

  <img ng-src="{{vm.album.images.bg}}" class="img-bg" />

  <div class="main-content align-center">

    <h3>{{vm.album.name}} reviews</h3>

    <ul>
      <li ng-repeat="quote in vm.album.quotes"
          ng-class="{last: $last}">
        <div>

          <div class="spacer" ng-attr-id="{{quote.href}}"></div>

          <blockquote>
            <span class="quote">&ldquo;</span>
            <span class="copy" ng-bind-html="quote.copy"></span>
            <span class="quote">&rdquo;</span>
            <span class="author" ng-bind-html="quote.author"></span>
          </blockquote>

        </div>
      </li>
    </ul>

    <div class="row button-view-nav">
       <a ui-sref="music" class="button">
        <span>Music</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
