@import '../../styles/variables'

.music-album-reviews

  h3
    color $color-highlight-primary

  .main-content
    margin 0 auto
    color $color-highlight-secondary
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  li
    padding-bottom $gutter-primary-xx-lg

    &.last
      padding-bottom 0

    .spacer
      padding-top $gutter-primary-xx-lg

  blockquote
    color $color-highlight-secondary
    .author
      margin-left 0
      color $color-highlight-primary
      padding-top $gutter-primary-lg
    b
      font-weight lighter
      color $color-highlight-primary

    .copy
      p:last-child
        margin-bottom 0

