<header>

  <div class="container">

    <i class="icon-nav"
       ng-click="vm.toggleMobileMenu();"
       ng-class="{active: vm.activeMobileMenu}"></i>

    <nav>

      <div class="logo sr-only">
        <h1><a ui-sref="home">{{vm.logo.copy}}</a></h1>
      </div>

      <ul class="nav-items nav-items-large">
        <li><a ui-sref="home"><span>Home</span></a></li>
        <li ng-class="{active: vm.stateIsMusicAlbum}"><a ui-sref="music" ui-sref-active="active"><span>Music</span></a></li>
        <li><a ui-sref="press" ui-sref-active="active"><span>Press</span></a></li>
        <li><a ui-sref="gigs" ui-sref-active="active"><span>Gigs</span></a></li>
        <li ng-class="{active: vm.stateIsNews}"><a ui-sref="news" ui-sref-active="active"><span>News</span></a></li>
        <li><a ui-sref="videos" ui-sref-active="active"><span>Videos</span></a></li>
        <li><a ui-sref="about" ui-sref-active="active"><span>About</span></a></li>
        <li><a ui-sref="gallery" ui-sref-active="active"><span>Gallery</span></a></li>
        <li ng-class="{active: vm.stateIsCollabInd}"><a ui-sref="collaborators" ui-sref-active="active" ng-click="vm.toggleMobileMenu();"><span>Collaborators</span></a></li>
        <li><a ui-sref="otherWork" ui-sref-active="active" ng-click="vm.toggleMobileMenu();"><span>Other Work</span></a></li>
        <li><a ui-sref="tech" ui-sref-active="active" ng-click="vm.toggleMobileMenu();"><span>Tech</span></a></li>
        <li><a ui-sref="contact" ui-sref-active="active"><span>Contact</span></a></li>
      </ul>

      <div pageslide ps-open="vm.activeMobileMenu" ps-side="left" ps-body-class="true" ps-size="250" ps-auto-close="true">
        <div class="mobile-menu">

          <p class="logo">{{vm.logo.copy}}</p>
          <i ng-click="vm.toggleMobileMenu();" class="icon-cross"></i>

          <ul class="nav-items">
            <li><a ui-sref="home" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Home</a></li>
            <li ng-class="{active: vm.stateIsMusicAlbum}"><a ui-sref="music" ng-click="vm.toggleMobileMenu();">Music</a></li>
            <li><a ui-sref="press" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Press</a></li>
            <li><a ui-sref="gigs" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Gigs</a></li>
            <li ng-class="{active: vm.stateIsNews}"><a ui-sref="news" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">News</a></li>
            <li><a ui-sref="videos" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Videos</a></li>
            <li><a ui-sref="about" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">About</a></li>
            <li><a ui-sref="gallery" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Gallery</a></li>
            <li ng-class="{active: vm.stateIsCollabInd}"><a ui-sref="collaborators" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Collaborators</a></li>
            <li><a ui-sref="otherWork" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Other Work</a></li>
            <li><a ui-sref="tech" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Tech</a></li>
            <li><a ui-sref="contact" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Contact</a></li>
          </ul>

        </div>
      </div>

    </nav>

  </div>

</header>
