<header>

  <div class="container">

    <i class="icon-nav"
       ng-click="vm.toggleMobileMenu();"
       ng-class="{active: vm.activeMobileMenu}"></i>

    <nav>

      <div class="logo sr-only">
        <h1><a ui-sref="home">{{vm.logo.copy}}</a></h1>
      </div>

      <ul class="nav-links">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="music" ui-sref-active="active">Music</a></li>
        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
        <li><a ui-sref="gallery" ui-sref-active="active">Gallery</a></li>
        <li ng-class="{active: vm.stateIsCollabInd}"><a ui-sref="collaborators" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Collaborators</a></li>
        <li><a ui-sref="tech" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Tech</a></li>
        <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
      </ul>

      <div pageslide ps-open="vm.activeMobileMenu" ps-side="left" ps-body-class="true" ps-size="250">
        <div class="mobile-menu">

          <p class="logo">{{vm.logo.copy}}</p>
          <i ng-click="vm.toggleMobileMenu();" class="icon-cross"></i>

          <ul class="nav-links">
            <li><a ui-sref="home" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Home</a></li>
            <li><a ui-sref="home" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Home</a></li>
            <li><a ui-sref="music" ng-click="vm.toggleMobileMenu();">Music</a></li>
            <li><a ui-sref="about" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">About</a></li>
            <li><a ui-sref="gallery" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Gallery</a></li>
            <li ng-class="{active: vm.stateIsCollabInd}"><a ui-sref="collaborators" ui-sref-active="active" ng-click="vm.toggleMobileMenu();" ng-class="{active: vm.activeStateCollaboratorsInd = true}">Collaborators</a></li>
            <li><a ui-sref="tech" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Tech</a></li>
            <li><a ui-sref="contact" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">Contact</a></li>
          </ul>

        </div>
      </div>

    </nav>

  </div>

</header>