@import '../../styles/variables';
@import 'mobile-menu';

fr-header
  position fixed
  top 0
  z-index 3
  background-color $color-bg-secondary
  border-bottom solid 3px $color-bg-primary

  .icon-nav
    float left
    font-size 2em
    padding 0.26em
    padding-right 0
    color $color-logo
    max-width 33px
    opacity 0.6
    cursor pointer
    transition all 0.3s ease
    &.active
      opactiy 0
      transform rotate(450deg)
      padding-left 0
      padding-bottom 0.52em
      padding-top 0

    @media screen and (min-width: $bp-md)
      display none

  nav

    li
      display inline-block
      list-style-type none

    a
      color $color-text-secondary
      &:hover,
      &:focus
        outline 0 none

    .logo,
    .nav-links
      display inline-block
      a
        display block
        color $color-logo

    .logo
      vertical-align middle
      h1
        margin 0
      a
        padding-top 0.25em
        padding-right $gutter-primary
        padding-bottom 0.25em
        padding-left $gutter-primary
        @media (min-width $bp-md)
          padding $gutter-primary

        opacity 0.8
        text-shadow $shadow-heading-primary

        @media screen and (min-width: $bp-md)
          transition all 0.2s ease
          &:hover,
          &:focus
            opacity 1

    .nav-links
      display none
      vertical-align top
      @media screen and (min-width: $bp-md)
        display inline-block
      a
        padding 1.65em 0.5856em 1.26em 0.5856em
        opacity 0.4
        font-size 1.130em
        @media screen and (min-width: $bp-md)
          transition all 0.2s ease
          &:hover,
          &:focus
            opacity 1




