<header>

  <div class="container">

    <i class="icon-nav"
       ng-click="vm.toggleMobileMenu();"
       ng-class="{active: vm.activeMobileMenu}"></i>

    <nav>

      <div class="logo">
        <h1><a ui-sref="home">{{vm.logo.copy}}</a></h1>
      </div>

      <ul class="nav-links">
        <li><a ui-sref="discography" ui-sref-active="active">Discography</a></li>
        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
        <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
      </ul>

      <div pageslide ps-open="vm.activeMobileMenu" ps-side="left" ps-body-class="true" ps-size="250">
        <div class="mobile-menu">
          <p class="logo">{{vm.logo.copy}}</p>
          <i ng-click="vm.toggleMobileMenu();" class="icon-cross"></i>
          <ul class="nav-links">
            <li><a ui-sref="home" ng-click="vm.toggleMobileMenu();">Home</a></li>
            <li><a ui-sref="about" ui-sref-active="active" ng-click="vm.toggleMobileMenu();">About</a></li>
            <li><a ui-sref="discography" ng-click="vm.toggleMobileMenu();">Discography</a></li>
            <li><a ui-sref="contact" ng-click="vm.toggleMobileMenu();">Contact</a></li>
          </ul>
        </div>
      </div>

    </nav>

  </div>

</header>