@import '../common'

nav
  height 6.5rem
  background-color $color-bg-secondary
  padding 1rem
  a
    color $color-text-secondary
  .nav-links
  .logo
    display inline-block
    a
      color $color-logo
