@import '../../styles/variables'

body.ng-pageslide-body-open::before
  content ''
  display block
  position fixed
  top 0
  background-color rgb(0,0,0)
  left 0
  right 0
  bottom 0
  z-index 999
  opacity 0.6
  transition opacity 0.2s
  pointer-events all
  @media (min-width: 1040px)
    display none

body.ng-pageslide-body-closed::before
  transition opacity 0.2s
  content ''
  display block
  position absolute
  top 0
  background-color rgb(0,0,0)
  left 0
  right 0
  bottom 0
  z-index 1
  opacity 0
  pointer-events none
  @media (min-width: 1040px)
    display none

.ng-pageslide
  transition-duration 0.3s !important
  border-right solid 5px #000
  background $color-bg-primary
  background -moz-linear-gradient(left,  $color-bg-primary 30%, $color-bg-secondary 100%)
  background -webkit-linear-gradient(left,  $color-bg-primary 30%,$color-bg-secondary 100%)
  background linear-gradient(to right,  $color-bg-primary 30%,$color-bg-secondary 100%)
  @media (min-width: 1040px)
    display none

  .nav-items
    display block
    background none
    li
      float none
    a
      text-align left

  .logo
    font-size 1.1em
    color #B2B2B2
    letter-spacing 3px
    text-transform uppercase
    font-weight 300
    padding 23px $gutter-primary
    margin-bottom 0
    color $color-text-highlight
    @media (min-width: 300px)
      font-size 1.2em

  a
    display block
    width 100%
    color #B2B2B2
    padding $gutter-primary 15px
    opacity 0.5
    text-transform uppercase
    letter-spacing 1px
    &:hover,
    &:focus,
    &.active
      opacity 1

  li.active a
    opacity 1

.mobile-menu
  position relative

  .icon-cross
    position absolute
    top 0
    right 0
    padding 24px 23px 18px 23px
    background none
    color $color-text-primary
    margin 0
    border-radius 0
    font-size 24px
    padding 23px
    cursor pointer

body.ng-pageslide-body-open
  overflow-y hidden
  .ng-pageslide
    overflow-y auto
    box-shadow 11px 2px 32px #000
    max-width 80%
