@import '../../styles/variables'

.hero
  position relative

  img
    width 100%
    position relative
    z-index 1

  h2
    position relative
    z-index 3
    font-size 2em
    font-weight normal
    color $color-heading-primary
    text-shadow $shadow-heading-primary
    text-align center
    @media (min-width $bp-xxs)
      font-size 2.4em
      text-align left
    @media (min-width $bp-sm)
      font-size 2.5em
    @media (min-width $bp-md)
      font-size 2.7em
    @media (min-width $bp-lg)
      font-size 3em
