@import '../../styles/variables'

.hero
  position relative

  img
    width 100%
    position relative
    z-index 1

  h2
    position relative
    z-index 3
    font-size 2em
    font-weight normal
    color $color-heading-primary
    text-shadow $shadow-heading-primary
    text-align center
    @media (min-width $bp-xxs)
      font-size 2.4em
      text-align left
    @media (min-width $bp-sm)
      font-size 2.5em
    @media (min-width $bp-md)
      font-size 2.7em
    @media (min-width $bp-lg)
      font-size 3em

  ul
    position relative
    z-index 4

  li
    float left
    width 48%
    @media (min-width $bp-xxs)
      width auto
      margin-right $button-spacing-horizontal
    &:first-child
      margin-right 2%
      @media (min-width $bp-xxs)
        margin-right $button-spacing-horizontal
    &:last-child
      margin-left 2%
      @media (min-width $bp-xxs)
        margin-left 0

  .button
    width 100%
    text-align center
    @media (min-width $bp-xxs)
      width auto

  .copy-content
    padding $gutter-primary-lg
    @media (min-width $bp-xxs)
      position absolute
      top 10%
      left $gutter-primary
    @media (min-width $bp-md)
      top 10%
      padding $gutter-primary-lg
    @media (min-width $bp-lg)
      top 15%
      padding $gutter-primary-xx-lg
