@import '../common'

.hero
  position relative

  h2
    font-size 3.4em
    font-weight normal
    color $color-heading-primary
    text-shadow $shadow-heading-primary

  li
    float left
    margin-right $button-spacing-horizontal

  .copy-content
    position absolute
    bottom 30%
    left: 0

  img
    width 100%