<section class="discography">

  <h1>{{ vm.name }}</h1>

  <ul>
    <li ng-repeat="album in vm.albums" class="row">

      <hero title="{{album.name}}"
            img-url="{{album.images.cover}}"
            img-alt="Album cover image">
            <ul class="download-links">
              <li ng-if="album.urls.itunes" class="itunes">
                <a ng-href="{{album.urls.itunes}}">Download on iTunes</a>
              </li>
              <li ng-if="album.urls.google" class="google">
                <a ng-href="{{album.urls.google}}">Download on Google Play</a>
              </li>
              <li ng-if="album.urls.amazon" class="amazon">
                <a ng-href="{{album.urls.amazon}}">Download on Amazon</a>
              </li>
            </ul>

      </hero>

      <div class="col-50">

        <ul>
          <li ng-repeat="track in album.tracks">
            <h3>{{track.title}}</h3>
          </li>
        </ul>

      </div>

      <div class="col-50">

        <ul>
          <li ng-repeat="quote in album.quotes">
            <p>{{quote.copy}}</p>
            <p>{{quote.author}}</p>
          </li>
        </ul>

      </div>

    </li>
  </ul>

</section>