<section class="row discography cancel-padding">

  <ul>
    <li ng-repeat="album in vm.albums" class="row">

      <hero title="{{album.name}}"
            img-url="{{album.images.appCover}}"
            img-alt="{{album.name}} cover">
            <ul class="download-links">
              <li ng-if="album.urls.itunes" class="itunes">
                <a ng-href="{{album.urls.itunes}}">
                  <img src="./images/badges/itunes.svg" alt="Get it on iTunes" />
                </a>
              </li>
              <li ng-if="album.urls.google" class="google">
                <a ng-href="{{album.urls.google}}">
                  <img src="./images/badges/google.svg" alt="Get it on Google Play" />
                </a>
              </li>
            </ul>

      </hero>

      <div class="col-50">
        <div plangular="http://soundcloud.com/fiona-ross/sets/selection-1" class="plangular" ng-show="tracks.length">
          <nav>
            <div class="col-buttons">
              <button ng-click="previous()"
                      class="col-1-3rd previous">
                <i class="icon-next"></i>
              </button>
              <button ng-click="playPause(index)"
                      class="col-1-3rd play-pause">
                <i ng-if="player.playing" class="icon-pause"></i>
                <i ng-if="!player.playing" class="icon-play"></i>
              </button>
              <button ng-click="next()"
                      class="col-1-3rd next">
                <i class="icon-next"></i>
              </button>
            </div>
            <div class="col-progress">
              <p class="current-time align-right">
                <span  ng-if="currentTime">{{ currentTime | hhmmss }}/{{ duration | hhmmss }}</span>
              </p>
              <progress class="progress"
                        ng-click="seek($event)"
                        ng-value="currentTime / duration || 0"></progress>
            </div>
          </nav>

          <ul class="row">
            <li ng-repeat="track in tracks"
                ng-click="playPause($index)"
                ng-class="{active: player.playing === track.src,
                           last: $last}">
              <h3 class="col-80">{{track.title}}</h3>
              <p class="col-20 align-right">{{track.duration / 1000 | hhmmss }}</p>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-50">

        <ul>
          <li ng-repeat="quote in album.quotes">
            <blockquote class="album">
              <span class="copy"><span class="quote">&ldquo;</span><span class="inner" ng-bind-html="quote.copy"></span><span class="quote">&rdquo;</span></span>
              <span class="author" ng-bind-html="quote.author"></span>
            </blockquote>
          </li>
        </ul>

      </div>

    </li>
  </ul>

</section>