.discography

  //hero
  //  .copy-content
  //    bottom 9%

  .download-links
    li
      float left
      width 149px

      &.google
        width 155px

    a
      opacity 0.5
      &:hover,
      &:focus
        opacity 1