@import '../../styles/variables'

.album

  .col-left
    @media (min-width $bp-md)
      padding-right $gutter-primary-lg

  .col-right
    @media (min-width $bp-md)
      padding-top $gutter-primary-x-lg

  li
    @media (min-width $bp-md)
      margin-bottom $gutter-primary-x-lg