@import '../../styles/variables'

section.album
  margin auto
  z-index 3
  max-width 500px
  @media (min-width $bp-md)
    max-width $section-max-width

  .mobile-only
    @media (min-width $bp-md)
      display none

  .desktop-only
    display none
    @media (min-width $bp-md)
      display block

  .col-first,
  .col-last
    @media (min-width $bp-md)
      padding-bottom $gutter-primary-x-lg

  .col-first
    @media (min-width $bp-md)
      padding-top $gutter-primary-x-lg

    img
      margin-bottom $gutter-primary-lg
      @media (min-width $bp-md)
        margin-bottom 0
        box-shadow 0 3px 22px #121212

  .col-last
    @media (min-width $bp-md)
      padding-top $gutter-primary-x-lg
      padding-left $gutter-primary-x-lg

  .copy
    text-align center
    @media (min-width $bp-md)
      padding-bottom $gutter-primary-lg
      text-align left

  h2
    color $color-highlight-primary
    letter-spacing 2px
    text-transform uppercase
    font-weight 300
    &.mobile-only
      text-align center
      margin-bottom 1em

  h3
    color $color-heading-primary
    font-weight 300

  .page-sub-title.new-heading-theme
    margin-bottom 0

  .audio-cd-copy
    text-align center
    @media (min-width $bp-md)
      text-align left
    a
      border-bottom solid 1px $color-text-primary
      padding-bottom 0.2em
      transition all 0.2s ease
      &:hover,
      &:focus
        color $color-highlight-primary

  .coming-soon
    &.mobile-only
      display block
      width 100%
      text-align center
      padding-bottom $gutter-primary-lg
      @media (min-width $bp-md)
        display none
    &.desktop-only
      display none
      @media (min-width $bp-md)
        display block
        width 100%
        text-align left
        padding-bottom 0

  .cta-button
    padding $gutter-primary $gutter-primary-lg
    margin-right auto
    margin-left auto
    margin-top $gutter-primary-lg
    margin-bottom $gutter-primary-lg
    border solid 1px #FFF
    color #FFF
    border-radius 8px
    background-color #000
    display block
    opacity 0.5
    transition all 0.2s ease
    max-width 170px
    text-align center
    @media (min-width $bp-md)
      display inline-block
      margin-right $gutter-primary
      margin-left 0
      max-width 155px

  .written-by
    clear both
    padding-bottom $gutter-primary
    text-align center
    &.desktop-only
      display none
      @media (min-width $bp-md)
        display block
    &.mobile-only
      @media (min-width $bp-md)
        display none
    @media (min-width $bp-md)
      text-align left
    @media (min-width $bp-lg)
      padding-top $gutter-primary-lg
    p
      margin 0

  li
    &.last
      margin-bottom 0
  .quotes
    margin-top $gutter-primary-x-lg
    margin-bottom 0
    li
      margin-bottom $gutter-primary-xx-lg
      p
        margin-bottom 0
      .author,
      .read-full
        margin-top $gutter-primary

    &.latest-album-quotes
      .copy
        position relative
      .quote:last-child
        position absolute
        bottom 0

  .download-links
    float none
    display block
    width 100%
    max-width 322px
    margin 0 auto
    margin-bottom $gutter-primary-lg
    @media (min-width: $bp-md)
      max-width 100%

    li
      margin $gutter-primary-lg auto
      max-width 170px
      clear both
      width 100%
      @media (min-width: $bp-xs)
        float left
        clear none
        width 149px
        margin-right $gutter-primary-lg

      @media (min-width: $bp-md)
        width 135px

      @media (min-width: $bp-md + 100px)
        width 149px

      &.itunes-preorder
        width 170px
        max-width 170px
        float none
        margin-top $gutter-primary-lg
        margin-right auto
        margin-left auto
        @media (min-width: $bp-md)
          float left
          width 179px
          max-width 179px

        a
          opacity 1

      &.google
        @media (min-width: $bp-xs)
          margin-right 0
        @media (min-width: $bp-lg)
          width 155px

      &.amazon
        clear both
        @media (min-width: $bp-xs)
          clear none
          float none
          margin-top 0
          margin 0 auto $gutter-primary-x-lg auto
        @media (min-width: $bp-sm)
          clear both
          float left
        @media (min-width: $bp-md)
          margin-top 0
          margin-bottom $gutter-primary-x-lg
          
        img
          border-radius 8px
          border solid 1px #FFF

    a
      opacity .65
      transition all 0.2s ease
      &:hover,
      &:focus
        outline 0 none
        opacity 1

    img
      width 100%

  .album-press
    a.button
      color $color-highlight-primary
      padding $gutter-primary
      display inline-block
      &:hover,
      &:focus
        border-bottom solid 1px $color-text-primary

  .description
    color $color-highlight-primary
    line-height 28px

  .album-credits
    padding-left $gutter-primary-lg
    li
      padding-bottom $gutter-primary
      list-style-type square

  .tracklist
    background #080808
    color $color-text-secondary
    padding $gutter-primary-lg
    margin 0 -1.1712em
    margin-bottom $gutter-primary
    padding-left $gutter-primary-x-lg
    @media (min-width $bp-md)
      padding-left $gutter-primary-x-lg
    li
      list-style-type decimal
      padding-bottom $gutter-primary
      &.last
        padding-bottom 0
      span
        color $color-highlight-primary

  .tracklist-note
    margin-bottom 0
    .star
      color $color-highlight-primary

  .album-additional-info
    margin-bottom 0
    > div
      padding-top 0
      &.col-first
        padding-bottom $gutter-primary-lg
        @media (min-width $bp-md)
          padding-bottom 0

