@import '../../styles/variables'

section.album
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  margin auto
  z-index 3

  .col-left
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

    img
      border solid 2px rgba(255, 255, 255, 0.31)

  .col-right
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg
      padding-left $gutter-primary-x-lg

  .copy
    padding-bottom $gutter-primary-lg

  h2
    color $color-highlight-primary

  h3
    color $color-heading-primary

  li
    @media (min-width $bp-md)
      margin-bottom $gutter-primary-x-lg

  .download-links
    display inline-block
    width 100%
    margin-bottom $gutter-primary-lg
    &.mobile
      @media screen and (min-width: $bp-sm)
        padding 0 $gutter-primary-lg
      @media screen and (min-width: $bp-lg)
        display none

    &.tablet
      display none
      @media screen and (min-width: $bp-lg)
        display block

    li
      margin $gutter-primary-lg auto
      max-width 200px
      width 100%
      @media screen and (min-width: $bp-sm)
        float left
        width 149px
        margin-right $gutter-primary-lg

      &.google
        @media screen and (min-width: $bp-lg)
          width 155px

      &.amazon img
        border-radius 8px
        border solid 1px #FFF

    a
      opacity 0.5
      transition all 0.2s ease
      &:hover,
      &:focus
        outline 0 none
        opacity 1

    img
      width 100%