<section class="album cancel-padding">

  <div class="col-50-md col-left">

    <img ng-src="{{vm.data.images.thumb}}"
         alt="{{vm.data.title}}"/>

  </div>

  <div class="col-50-md col-right">

    <div class="copy">
      <ng-transclude></ng-transclude>
    </div>

    <ul class="download-links">
      <li ng-if="vm.data.urls.itunes" class="itunes">
        <a ng-href="{{vm.data.urls.itunes}}" target="_blank">
          <img src="./images/badges/itunes.svg" alt="Get it on iTunes" />
        </a>
      </li>
      <li ng-if="vm.data.urls.google" class="google">
        <a ng-href="{{vm.data.urls.google}}" target="_blank">
          <img src="./images/badges/google.svg" alt="Get it on Google Play" />
        </a>
      </li>
      <li ng-if="vm.data.urls.amazon" class="amazon">
        <a ng-href="{{vm.data.urls.amazon}}" target="_blank">
          <img src="./images/badges/amazon.png" alt="Get it on Amazon" />
        </a>
      </li>
    </ul>

  </div>

</section>