<section class="album">

  <h1 class="sr-only">{{vm.data.name}}</h1>

  <div ng-if="vm.layout === '1' || vm.layout === '4444' " class="album-layout-1">

    <div class="col-50-md col-first">

      <div class="copy mobile-only">
        <ng-transclude></ng-transclude>
      </div>

      <a ui-sref="musicAlbum({id: vm.data.id})">
        <img ng-src="{{vm.data.images.thumb}}" alt="Fiona Ross - {{vm.data.name}}" />
      </a>

    </div>

    <div class="col-50-md col-last">

      <div class="copy desktop-only">
        <ng-transclude></ng-transclude>
      </div>

      <ul ng-if="vm.data.urls" class="download-links">
        <li ng-if="vm.data.urls.itunes" class="itunes">
          <a ng-href="{{vm.data.urls.itunes}}" target="_blank">
            <img src="./images/badges/itunes.svg" alt="Get it on iTunes" />
          </a>
        </li>
        <li ng-if="vm.data.urls.itunesPreOrder" class="itunes-preorder">
          <a ng-href="{{vm.data.urls.itunesPreOrder}}" target="_blank">
            <img src="./images/badges/itunesPreOrder.png" alt="Pre-order on iTunes" />
          </a>
        </li>
        <li ng-if="vm.data.urls.google" class="google">
          <a ng-href="{{vm.data.urls.google}}" target="_blank">
            <img src="./images/badges/google.svg" alt="Get it on Google Play" />
          </a>
        </li>
        <li ng-if="vm.data.urls.amazon" class="amazon">
          <a ng-href="{{vm.data.urls.amazon}}" target="_blank">
            <img src="./images/badges/amazon.png" alt="Get it on Amazon" />
          </a>
        </li>
      </ul>

    </div>

  </div>

  <div ng-if="vm.layout === '2'">

    <div class="col-50-md col-first">

      <h2 class="mobile-only">{{vm.data.name}}</h2>

      <span ng-if="vm.data.comingSoon && vm.data.releaseDate" class="coming-soon mobile-only">Release date: {{vm.data.releaseDate}}</span>
      <span ng-if="!vm.data.comingSoon && vm.data.albumType === 'latest'" class="coming-soon mobile-only">Out now</span>

      
      <div ng-if="vm.data.albumType === 'latest'">
        <a ui-sref="musicAlbum({id: vm.data.id})">
          <img ng-src="{{vm.data.images.thumb}}" alt="Fiona Ross - {{vm.data.name}}" />
        </a>
      </div>
      <div ng-if="!vm.data.albumType || vm.data.albumType !== 'latest'">
        <img ng-src="{{vm.data.images.thumb}}"
             alt="Fiona Ross - {{vm.data.name}}"/>
      </div>

    </div>

    <div class="col-50-md col-last">
      <div ng-if="vm.data.albumType === 'latest'">
        <a ui-sref="musicAlbum({id: vm.data.id})">
          <h2 class="desktop-only">{{vm.data.name}}</h2>
        </a>
      </div>
      <div ng-if="vm.data.albumType !== 'latest'">
        <h2 class="desktop-only">{{vm.data.name}}</h2>
      </div>
      

      <span ng-if="vm.data.comingSoon && vm.data.releaseDate" class="coming-soon desktop-only">Release date: {{vm.data.releaseDate}}</span>
      <span ng-if="!vm.data.comingSoon && vm.data.albumType === 'latest'" class="coming-soon desktop-only">Out now</span>

      <ul ng-if="vm.data.urls" class="row download-links">
        <li ng-if="vm.data.urls.itunes" class="itunes">
          <a ng-href="{{vm.data.urls.itunes}}" target="_blank">
            <img src="./images/badges/itunes.svg" alt="Get it on iTunes" />
          </a>
        </li>
        <li ng-if="vm.data.urls.itunesPreOrder" class="itunes-preorder">
          <a ng-href="{{vm.data.urls.itunesPreOrder}}" target="_blank">
            <img src="./images/badges/itunesPreOrder.png" alt="Pre-order on iTunes" />
          </a>
        </li>
        <li ng-if="vm.data.urls.google" class="google">
          <a ng-href="{{vm.data.urls.google}}" target="_blank">
            <img src="./images/badges/google.svg" alt="Get it on Google Play" />
          </a>
        </li>
        <li ng-if="vm.data.urls.amazon" class="amazon">
          <a ng-href="{{vm.data.urls.amazon}}" target="_blank">
            <img src="./images/badges/amazon.png" alt="Get it on Amazon" />
          </a>
        </li>
      </ul>

      <br />

      <div ng-if="vm.data.canOrderAudioCd" class="row audio-cd-copy">
        <a ui-sref="musicAlbumAudioCd({id: vm.data.id})">Get a signed Audio CD</a>
      </div>

      <div ng-if="vm.data.id === 2" class="row">
        <a ui-sref="musicAlbumReviews({id: vm.data.id})"
           class="cta-button">Reviews</a>
        <a ui-sref="press"
           class="cta-button">Press</a>
      </div>

      <div ng-bind-html="vm.data.writtenBy" class="written-by"></div>

      <div ng-if="vm.data.id === 1" class="row quotes">
        <ul>
          <li ng-repeat="quote in vm.data.quotes">

            <blockquote class="album album-small">
              <span class="copy"><span class="quote">&ldquo;</span><span class="inner" ng-bind-html="quote.copy"></span><span class="quote">&rdquo;</span></span>
              <span class="author" ng-bind-html="quote.author"></span>
            </blockquote>

          </li>
        </ul>
      </div>

    </div>

    <!-- latest album specific  -->
    <div ng-if="vm.data.id === 3" class="row album-additional-info">
      <div class="col-50-md col-first">
        <p class="description">{{vm.data.description}}</p>
        <ul class="album-credits">
          <li ng-repeat="c in vm.data.albumCredits">{{c}}</li>
        </ul>
      </div>
      <div class="col-50-md col-last">
        <ol class="tracklist">
          <li ng-repeat="t in vm.data.tracklist" ng-class="{'last': $last}"><span>{{t}}</span></li>
        </ol>
        <p class="tracklist-note"><span class="star">*</span>{{vm.data.tracklistNote}}</p>
      </div>
    </div>


    <!-- latest album specific 
    <div ng-if="vm.data.id === 2" class="row">

      <h4 class="align-center page-sub-title new-heading-theme">Music Video</h4>

      <div class="video-wrapper">
        <iframe width="560" src="https://www.youtube.com/embed/i33VaIFZFSE?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <br/>

      <h4 class="align-center page-sub-title new-heading-theme">Behind the scenes</h4>

      <div class="video-wrapper">
        <iframe width="560" src="https://www.youtube.com/embed/45JLCGLplvk?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <br/>

      <div class="video-wrapper">
        <iframe width="560" src="https://www.youtube.com/embed/PzOWVOAEOX0?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="row quotes latest-album-quotes">

        <h4 class="page-sub-title align-center new-heading-theme">Reviews</h4>

        <ul>
          <li ng-repeat="quote in vm.data.quotes">

            <blockquote class="album link-highlight-hover-border">
              <span class="copy">
                <span class="quote">&ldquo;</span>
                <span class="inner" ng-bind-html="quote.copy | filterCharacters:800"></span>
                <span class="quote">&rdquo;</span>
              </span>
              <span ng-if="!quote.showReadMore"
                    class="author"
                    ng-bind-html="quote.author"></span>
              <a ng-if="quote.showReadMore"
                 ui-sref="musicAlbumReviews({id: vm.data.id})"
                 target="_self"
                 class="read-full">Read full review by {{quote.author}}</a>
            </blockquote>

          </li>
        </ul>

      </div>

    </div>
    -->

  </div>

</section>
