@import '../../styles/variables'

.home
  @media (min-width $bp-md)
    padding 0
    padding-bottom 0

  .img-bg
    display none
    @media (min-width $bp-md)
      display block
      width 100%
      padding-top 15%
    @media (min-width $bp-md + 225px)
      padding-top $header-height-desktop

  .main-content
    max-width 900px

  .video-wrapper
    position relative
    z-index 2
    max-width 1200px
    //16:9
    // padding-bottom 56.25%
    padding-bottom 47.25%
    height 0
    text-align center
    margin 0 auto $gutter-primary-lg auto
    @media (min-width $bp-md)
      margin-bottom $gutter-primary-x-lg
    @media (min-width $bp-lg)
      margin-bottom $gutter-primary-xx-lg
    @media (min-width $bp-lg + 400px)
      padding-bottom 31.25%
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%

  h3
    margin-bottom $gutter-primary-lg
    @media (min-width $bp-md)
      padding-bottom $gutter-primary
    @media (min-width $bp-md)
      width 60%
    @media (min-width $bp-md + 225px)
      width 100%
      max-width 285px
    @media (min-width $bp-lg + 250px)
      max-width 100%

  .row-album-latest
    float none
    margin 0 auto
    position relative
    padding-bottom $gutter-primary-lg
    @media (min-width $bp-md)
      padding-bottom 0

    .album
      padding-top 0

      .col-last
        @media (min-width $bp-md + 225px)
          padding-top 20%

    p
      font-size $font-size-h2-mobile
      margin-bottom $gutter-primary
      @media (min-width $bp-md)
        font-size $font-size-h2-desktop

  .s-feeds
    text-align center
    padding-bottom $gutter-primary-x-lg
    overflow hidden
    @media (min-width $bp-md)
      padding-bottom $gutter-primary-xx-lg

    h4
      padding-bottom $gutter-primary
      font-size $font-size-h1-mobile
      @media (min-width $bp-md)
        padding-top $gutter-primary-x-lg
        padding-bottom $gutter-primary-lg
        font-size $font-size-h1-desktop

    .col-fb,
    .col-tw
      width 300px
      padding 0 30px
      max-height 500px
      overflow hidden
      display inline-block
      vertical-align top
      opacity 0.65
      transition all 0.3s ease
      margin-left -17px
      margin 0 auto
      @media (min-width $bp-xs)
        margin-left 0
        width 340px
      &:hover
        opacity 1

    .col-fb
      margin-bottom $gutter-primary-x-lg
      @media (min-width $bp-md)
        padding-bottom 0
      .fb-page
        overflow hidden
        width 100%
        @media (min-width $bp-xs)
          width auto
        > span
          margin -1px 0 0 -1px
          width 278px !important
