@import '../../common'

.home

  h3 a
    color $color-highlight-primary

  .albums
    display inline-block
    width 100%
    padding 0 0 $gutter-primary-xx-lg 0
    li
      margin-bottom $gutter-primary-x-lg
      &:last-child
        margin-bottom 0
      @media (min-width $bp-md)
        margin-bottom 0


