<style>
  body {
    background: #000;
  }
  .app > .container {
    max-width:100%;
  }
</style>
<section class="row home include-bg-img">

  <h1 class="sr-only">Fiona Ross - Just Me (and sometimes someone else)</h1>

  <img src="./images/home/bg.png" class="img-bg" />

  <div class="video-wrapper">
    <iframe width="560" src="https://www.youtube.com/embed/PzOWVOAEOX0?rel=0&amp;fs=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="main-content">

    <div class="row row-album-latest">
      <a ui-sref="musicAlbum({id: 2})">
        <album data="vm.latestAlbum" layout="1">
          <!-- <h2>New album <span class="text-uppercase">out now</span></h2> -->
          <h3>{{vm.latestAlbum.name}}</h3>
          <p class="album-release-date">Release date: {{vm.latestAlbum.releaseDate}}</p>
        </album>
      </a>
    </div>

    <div class="row">
      <blockquote class="xx-large-padding">
        <span class="quote">&ldquo;</span>
        <span class="copy">Perhaps the best way to describe Fiona Ross is by the physical reaction that occurs when first listening to her. You experience a sense of electricity, of palpable joy and you begin to notice the unwitting grin that spreads across your face. You are left with rubbery limbs by the purity of Fiona Ross’s voice.</span>
        <span class="quote">&rdquo;</span>
      </blockquote>
    </div>

    <div class="row s-feeds cancel-margin">
      <h4>Social media</h4>

      <div class="col-fb">
        <div class="fb-page"
             data-href="http://www.facebook.com/fionarossmusic"
             data-small-header="true"
             data-width="300"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="false"
             data-show-posts="true">
        </div>
      </div>

      <div class="col-tw">
        <twitter-timeline>
          <a class="twitter-timeline"
             href="https://twitter.com/fifross"
             data-widget-id="700349799137198080"></a>
        <twitter-timeline>
      </div>

    </div>

  </div>

</section>