@import '../../styles/variables'

.home
  @media (min-width $bp-md)
    padding 0
    padding-bottom 0

  .img-bg
    display none
    @media (min-width $bp-md)
      display block
      width 100%
      padding-top 15%
    @media (min-width $bp-md + 225px)
      padding-top $header-height-desktop

  .main-content
    max-width 900px

  .video-wrapper
    @media (min-width $bp-lg + 400px)
      padding-bottom 31.25%

  .home-intro-heading
    letter-spacing 5px
    color $color-highlight-primary

  .home-intro
    .col-img
      padding-bottom $gutter-primary-x-lg
      @media (min-width: $bp-md)
        padding-right $gutter-primary-x-lg
      img
        width 100%
        max-width 450px
        margin 0 auto
        display block

    .col-quotes
      max-width 450px
      margin 0 auto
      @media (min-width: $bp-md)
        max-width 100%

    blockquote
      position relative
      padding 0
      text-align left
      margin-bottom $gutter-primary-x-lg
      .copy
        font-size 0.8em
      span.quote:first-child
        margin-left 0
        position relative
        top 5px
        left -16px
        @media (min-width: $bp-md)
          top 22px

      span.quote:last-child
        position relative
        top -15px
        left 90%
        opacity .5

      .author
        font-size 0.65em
        margin-left 6.5%
        @media (min-width: $bp-sm)
          margin-left 10%

  .home-intro-footer-quote blockquote
    max-width 710px
    margin 0 auto
    .quote
      vertical-align middle
      &:last-child
        position relative
        top 35px

  .social-icons-large
    li
      text-align center
      width 33%
      float left
      color $color-blockquote
      @media (min-width: $bp-md)
        float left
        width 16.6666667%
      i
        margin-bottom 15px
        opacity .8
        width 70px
        height 70px
        &::before
          margin-top 16px // NEEDs to be done for each icon type
          font-size 2em
      p
        font-size 1.1em
      a:hover,
      a:focus
        i
          opacity 1

  h3
    margin-bottom $gutter-primary
    padding-bottom 0
    @media (min-width $bp-xxs)
      max-width 380px
      margin-right auto
      margin-left auto
    @media (min-width $bp-md)
      width 60%
      max-width 100%
      margin-right 0
      margin-left 0
    @media (min-width $bp-md + 225px)
      width 100%
      max-width 285px
    @media (min-width $bp-lg + 250px)
      max-width 100%

  .album-release-date
    margin-bottom $gutter-primary-lg
    @media (min-width $bp-md)
      padding-bottom $gutter-primary

  .row-album-latest
    margin 0 auto
    position relative
    padding-bottom $gutter-primary-lg
    @media (min-width $bp-md)
      padding-bottom 0

    .album
      padding-top 0

      .col-last
        @media (min-width $bp-md + 225px)
          padding-top 10%

    .copy
      @media (min-width $bp-sm)
        padding-bottom 0
      @media (min-width $bp-lg)
        padding-bottom $gutter-primary-lg

    p
      font-size $font-size-h2-mobile
      @media (min-width $bp-md)
        margin-bottom $gutter-primary
      @media (min-width $bp-lg)
        font-size $font-size-h2-desktop

    .download-links li.itunes-preorder
      @media (min-width: $bp-sm)
        margin-right auto
        margin-left auto
      @media (min-width: $bp-md)
        margin-top 0

/*
  .s-feeds
    text-align center
    padding-bottom $gutter-primary-x-lg
    overflow hidden
    @media (min-width $bp-md)
      padding-bottom $gutter-primary-xx-lg

    h4
      padding-bottom $gutter-primary
      font-size $font-size-h1-mobile
      @media (min-width $bp-md)
        padding-top $gutter-primary-x-lg
        padding-bottom $gutter-primary-lg
        font-size $font-size-h1-desktop

    .col-fb,
    .col-tw
      width 300px
      padding 0 30px
      max-height 500px
      overflow hidden
      display inline-block
      vertical-align top
      opacity 0.65
      transition all 0.3s ease
      margin-left -17px
      margin 0 auto
      @media (min-width $bp-xs)
        margin-left 0
        width 340px
      &:hover
        opacity 1

    .col-fb
      margin-bottom $gutter-primary-x-lg
      @media (min-width $bp-md)
        padding-bottom 0
      .fb-page
        overflow hidden
        width 100%
        @media (min-width $bp-xs)
          width auto
        > span
          margin -1px 0 0 -1px
          width 278px !important
*/
