<style>
  body {
    background: #000;
  }
  .app > .container {
    max-width:100%;
  }
</style>
<section class="row home include-bg-img">

  <img src="./images/home/bg2.jpg" class="img-bg" alt="About Fiona Ross" />

  <div class="main-content">

    <div class="intro-wrapper">

      <div class="row home-intro">
        <div class="col-quotes">
          
          <div class="heading-intro">
            <h1>Fiona Ross</h1>
            <p>Award Winning Vocalist, Pianist, Composer, Producer and Journalist</p>
          </div>

          
          <blockquote>
            <span class="quote">&ldquo;</span>
            <span class="copy">Technical virtuosity and that raw emotional drive, of an artist at the height of her game</span>
            <span class="author">Jazz Quarterly</span>
            <span class="quote">&rdquo;</span>
          </blockquote>
          
          <blockquote>
            <span class="quote">&ldquo;</span>
            <span class="copy">Fierce and Non-Compliant, and honest and true and oh so very talented</span>
            <span class="author">Maxine Gordon</span>
            <span class="quote">&rdquo;</span>
          </blockquote>
          
          <blockquote>
            <span class="quote">&ldquo;</span>
            <span class="copy">Fiona Ross knows how to make an album</span>
            <span class="author">Jazz Views</span>
            <span class="quote">&rdquo;</span>
          </blockquote>

          <blockquote>
            <span class="quote">&ldquo;</span>
            <span class="copy">Her talents are simply extraordinary</span>
            <span class="author">Kind Of Jazz</span>
            <span class="quote">&rdquo;</span>
          </blockquote>

        </div>
      </div>
    </div>

    <div class="row-album-latest row-intro-new-album-release">
    
      <div class="row align-center featured-video">
        <h4 class="new-heading-theme"><a ui-sref="musicAlbum({id: 4})">New album 'Fierce and Non-Compliant' OUT NOW</a></h4>
        <iframe src="https://player.vimeo.com/video/330184779?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      
      <p class="row link-highlight-hover-border"><a ui-sref="musicAlbum({id: 4})">Find out more</a></p>
    </div>

    <div class="row row-signup-middle">
      <p class="new-heading-theme">Be the first to hear about Fiona Ross</p>
      <signup-form></signup-form>
    </div>

    <div class="row button-view-nav">
      <a ui-sref="music" class="button">
        <span>Music</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
