@import '../../styles/variables'

.news-ind
  .main-content
    max-width $section-max-width
    margin 0 auto
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

  h1
    font-weight 300
    color $color-highlight-primary
    margin-bottom 0

  .date
    display block
    margin-bottom $gutter-primary-x-lg
    opacity 0.5

  img
    margin-bottom $gutter-primary-x-lg