<section class="row long-copy-line-height news-ind">
  <div class="main-content">

    <h1>{{vm.post.title}}</h1>
    <small class="date">{{vm.post.createdAt | date:'dd MMM yyyy'}}</small>

    <div class="row cancel-margin">

      <div ng-if="!vm.post.ticketsLink && vm.post.mainImage && !vm.post.miniGalleryImages.length ||
                  !vm.post.ticketsLink && vm.post.mainImage.url && !vm.post.miniGalleryImages.length">

        <div ng-class="{'col-50': vm.post.secondaryImageUrl}">
          <div ng-if="vm.post.mainImage && vm.post.mainImage.url && !vm.post.mainImage.externalLink"
                class="img-wrap">
            <img ng-src="{{vm.post.mainImage.url}}" alt="Fiona Ross | {{vm.post.title}}" />
          </div>

          <div ng-if="vm.post.mainImage && vm.post.mainImage.url && vm.post.mainImage.externalLink"
                class="img-wrap">
            <a href="{{vm.post.mainImage.externalLink}}" target="_blank">
              <img ng-src="{{vm.post.mainImage.url}}" alt="Fiona Ross | {{vm.post.title}}" />
            </a>
          </div>
        </div>

        <div ng-if="vm.post.secondaryImageUrl"
              ng-class="{'col-50': vm.post.secondaryImageUrl}">
          <img ng-src="{{vm.post.secondaryImageUrl}}" alt="Fiona Ross | {{vm.post.title}}" />
        </div>

      </div>

      <div ng-if="vm.post.mainImage && vm.post.mainImage.url && vm.post.miniGalleryImages.length" class="cancel-margin">
        <div ng-class="{'col-50': vm.post.secondaryImageUrl}">

          <div ng-if="vm.post.mainImage && vm.post.mainImage.url && !vm.post.mainImage.externalLink" class="img-wrap">
            <img ng-src="{{vm.post.mainImage.url}}" alt="Fiona Ross | {{vm.post.title}}" />
          </div>

          <div ng-if="vm.post.mainImage && vm.post.mainImage.url && vm.post.mainImage.externalLink" class="img-wrap">
            <a href="{{vm.post.mainImage.externalLink}}" target="_blank">
              <img ng-src="{{vm.post.mainImage.url}}" alt="Fiona Ross | {{vm.post.title}}" />
            </a>
          </div>

          <div ng-if="vm.post.secondaryImageUrl"
                class="col-50">
            <img ng-src="{{vm.post.secondaryImageUrl}}" alt="Fiona Ross | {{vm.post.title}}" />
          </div>

        </div>
      </div>

    </div>

    <div ng-if="vm.post.ticketsLink && vm.post.mainImage && vm.post.mainImage.url && !vm.post.miniGalleryImages.length">

      <div class="col-70 max-width-650">

          <div ng-if="vm.post.image && vm.post.image.cloudinaryUrl && !vm.post.image.externalLink" class="img-wrap">
            <img ng-src="{{vm.post.image.cloudinaryUrl}}" alt="Fiona Ross | {{vm.post.title}}" />
          </div>

          <div ng-if="vm.post.image && vm.post.image.cloudinaryUrl && vm.post.image.externalLink" class="img-wrap">
            <a href="{{vm.post.image.externalLink}}" target="_blank">
              <img ng-src="{{vm.post.image.cloudinaryUrl}}" alt="Fiona Ross | {{vm.post.title}}" />
            </a>
          </div>

      </div>

      <div class="col-30">

        <a ng-if="vm.post.ticketsLink"
            href="{{vm.post.ticketsLink}}"
            target="_blank"
            class="button">Get tickets</a>
        <div class="link-highlight-hover-border">
          <a ng-if="vm.post.venueLink"
              href="{{vm.post.venueLink}}"
              target="_blank"
              class="venue-link">Venue</a>
        </div>

      </div>

    </div>

    <div class="row cancel-margin">

      <div ng-bind-html="vm.post.bodyMain"
            class="body-content link-highlight-hover-border"></div>

      <ul ng-if="vm.post.quotes" class="quotes">
        <li ng-repeat="quote in vm.post.quotes">
          &quot;{{quote.copy}}&quot;<span class="news-quote-author">&nbsp;-&nbsp;{{quote.author}}</span>
        </li>
      </ul>

      <a ng-if="vm.post.ticketsLink && !vm.post.mainImage.url"
          href="{{vm.post.ticketsLink}}"
          target="_blank"
          class="button">Get tickets</a>

    </div>

    <div ng-if="vm.post.videoEmbed && !vm.post.miniGalleryImages" class="video-wrapper">
      <iframe width="560" ng-src="{{vm.trustSrc(vm.post.videoEmbed)}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div ng-if="vm.post.videoEmbed && vm.post.miniGalleryImages" class="row video-with-gallery-row">
      <div class="row post-video">
        <div class="video-wrapper">
          <iframe width="560" ng-src="{{vm.trustSrc(vm.post.videoEmbed)}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <ul ng-if="vm.post.miniGalleryImages && vm.post.miniGalleryImages.length" class="row post-gallery">
        <li ng-repeat="image in vm.post.miniGalleryImages" class="post-gallery-image">
          <a ng-click="vm.openLightboxModal(vm.post.miniGalleryImages, $index)">
            <img ng-src="{{image}}" alt="Fiona Ross | {{vm.post.title}}" />
          </a>
        </li>
      </ul>
    </div>

    <div ng-if="!vm.post.videoEmbed && vm.post.miniGalleryImages" class="row">
      <ul ng-if="vm.post.miniGalleryImages && vm.post.miniGalleryImages.length" class="row post-gallery">
        <li ng-repeat="image in vm.post.miniGalleryImages" class="post-gallery-image">
          <a ng-click="vm.openLightboxModal(vm.post.miniGalleryImages, $index)">
            <img ng-src="{{image}}" alt="Fiona Ross | {{vm.post.title}}" />
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>
