@import 'fonts/fontcustom.css'
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import 'styles/typography'
@import 'styles/blockquote'
@import 'styles/button'
@import 'styles/columns'
@import 'styles/album-cols'
@import 'styles/nav-items'
@import 'styles/form'
@import 'styles/icons'
@import 'styles/loader'
@import 'styles/misc'
@import 'styles/modal'
@import 'styles/plangular'

.app
  height 100%

[ui-view]
  padding-top $header-height-mobile
  height 100%
  &.container
    float none
  @media (min-width $bp-md)
    padding-top $header-height-desktop

@-webkit-keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
@-moz-keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
@-o-keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

.container
  &.ng-enter
    animation 0.5s fadeIn

