@import 'styles/typography'
@import 'styles/blockquote'
@import 'styles/button'
@import 'styles/columns'
@import 'styles/form'
@import 'styles/icons'
@import 'styles/loader'
@import 'styles/misc'

.app
  height 100%

[ui-view]
  min-height 520px
  padding-top $header-height
