<section class="row bookings long-copy-line-height include-bg-img">

  <div class="main-content">

    <ul>
      <li ng-repeat="booking in vm.bookings"
          class="row"
          ng-class="{last: $last}">
        <div class="inner">

          <div class="col-10-md col-date">
            <span class="day-month">{{booking.date.day}} {{booking.date.month}}</span>
            <span class="time">{{booking.date.time}}</span>
          </div>
          <div class="col-15-md col-img">
            <img ng-if="booking.images.thumb" ng-src="{{booking.images.thumb}}" alt="{{booking.venue}}" />
            <img ng-if="!booking.images.thumb" ng-src="{{vm.defaultThumb}}" alt="{{booking.venue}}" />
          </div>
          <div class="col-55-md col-title-venue">
            <h2>{{booking.title}}</h2>
            <h3>{{booking.venue}} <span class="seperator"> - </span><span class="city-country">{{booking.cityCountry}}</span></h3>
          </div>
          <div ng-if="booking.urls.tickets" class="col-10-md col-links  col-links-first link-highlight-hover">
            <a ng-href="{{booking.urls.tickets}}">Tickets</a>
          </div>
          <div ng-if="booking.urls.moreInfo" class="col-10-md col-links link-highlight-hover">
            <a ng-if="booking.urls.moreInfo" ng-href="{{booking.urls.moreInfo}}">More info</a>
          </div>

        </div>
      </li>
    </ul>


    <div class="row button-view-nav">
      <a ui-sref="about" class="button">
        <span>About Fiona</span>
        <i class="icon-arrow-right"></i>
      </a>
      <br/>
      <a ui-sref="contact" class="text-link">Booking enquiries</a>
    </div>

  </div>

</section>