<section class="row equipment">

  <h3>Just Me (and sometimes someone else)</h3>

  <div class="row inner">
    <div class="col-333-md">
      <h4>Guitars</h4>
      <ul>
        <li>Fender Stratocaster</li>
        <li>Taylor 114ce</li>
        <li>Hohner LW400N</li>
        <li>Ibanez semi-hollow</li>
      </ul>
    </div>

    <div class="col-333-md">
      <h4>Guitar Amps</h4>
      <ul>
        <li>Fender Reverb Deluxe (1970s)</li>
        <li>Fender Blues Deluxe</li>
      </ul>
    </div>

  </div>

  <div class="row inner">

    <div class="col-333-md">
      <h4>Drums</h4>
      <ul>
        <li>Liberty drum kit</li>
        <li>Vector Hardware</li>
        <li>Evans Drum heads</li>
        <li>Promark sticks</li>
        <li>Sabian cymbals</li>
      </ul>
    </div>

    <div class="col-333-md">
      <h4>Sax</h4>
      <ul>
        <li>Jupiter JAS-700</li>
        <li>Mouthpiece - Meyer Hard Rubber 5m</li>
      </ul>
    </div>

  </div>

  <div class="row inner">
    <h4>Engineered using</h4>

    <div class="col-333-md">
      <h6>Mics</h6>
      <ul>
        <li>Bock 251</li>
        <li>Audix DP4 drum mics</li>
        <li>SE Electronics SE1A</li>
        <li>Shure SM57</li>
      </ul>
    </div>
    <div class="col-333-md">
      <h6>Monitors</h6>
      <ul>
        <li>Focal Twin Be</li>
        <li>Yamaha NS10</li>
      </ul>
    </div>
    <div class="col-333-md">
      <h6>Outboard</h6>
      <ul>
        <li>Toft ATB32 analog console</li>
        <li>UAD 6176</li>
        <li>Antelope Orion 32</li>
      </ul>
    </div>
  </div>

  <div class="row inner">

    <div class="col-333-md">
      <h4>Mixing</h4>
      <ul>
        <li>Mixed in Logic Pro X</li>
        <li>Used various plugins from the following companies:</li>
        <ul>
          <li>WAVES</li>
          <li>FABFILTER</li>
          <li>SLATE DIGITAL</li>
          <li>SOFTUBE</li>
          <li>NATIVE INSTRUMENTS</li>
          <li>CYTOMIC</li>
        </ul>
      </ul>
    </div>

    <div class="col-333-md">
      <h4>Mastering</h4>
      <ul>
        <li>by <a href="http://fluidmastering.com" target="_blana">fluidmastering.com</a></li>
      </ul>
    </div>

  </div>

  <div class="row">

    <div class="col-333-md">

      <h3>A Twist of Blue</h3>
      <ul>
        <li class="link-highlight-hover link-highlight-hover-border">Recorded at <a href="http://www.recordproduction.com/high-barn-recording-studio-uk.htm" target="_blank">High Barn Recording Studio</a></li>
      </ul>
    </div>
  </div>

  <div class="row button-view-nav">
    <a ui-sref="contact" class="button">
      <span>Contact Fiona</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>