@import '../../styles/variables';

.equipment

  .row.inner
    padding-top $gutter-primary-lg + $gutter-primary
    padding-bottom $gutter-primary-lg + $gutter-primary
    border-bottom solid 1px #CCC

  h3
    color $color-highlight-primary

  ul
    padding-left $gutter-primary-lg

  li
    list-style-type disc
    padding-bottom $gutter-primary-lg