@import 'variables'

.album-cols

  > .col
    position relative
    max-width 500px
    margin 0 auto
    text-align center
    margin-bottom $gutter-primary-x-lg
    &:nth-child(odd)
      clear both
    &.last
      margin-bottom 0
    @media (min-width $bp-sm)
      padding 0
      max-width 600px

    a
      display block
      cursor pointer

    .img-wrap
      display block
      width 100%
      max-height 470px
      overflow hidden
      margin 0 auto
      @media (min-width $bp-xs)
        max-width 80%
      @media (min-width $bp-sm)
        transition all 0.3s ease
        max-width 95%
      @media (min-width $bp-md)
        max-height 392px
    img
      @media (min-width $bp-sm)
        transition all 0.3s ease
        width 100%

  .overlay
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    width 100%
    height 100%
    background #000
    opacity 0
    color $color-white
    font-size 0.9em
    @media (min-width $bp-xs)
      max-width 80%
    @media (min-width $bp-sm)
      max-width 100%
      opacity 0
    @media (min-width $bp-sm)
      transition all 0.3s ease
      max-width 95%
    @media (min-width $bp-md)
      font-size 1em
    i
      font-size 3.8em
      border-radius 50%
      padding 1em
    @media (min-width $bp-sm)
      transition all 0.3s ease
      width 95%

    .content
      position relative
      // display block
      top 40%
      display none

  .overlay-hover-content
    opacity 0
    background rgba(0, 0, 0, 0.49)
    @media (min-width $bp-sm)
      opacity .4
    @media (min-width $bp-lg)
      background 0
      opacity 0

    .content span
      background $color-bg-primary
      padding $gutter-primary-lg
  
    &.dark-theme .content span
        background #909090
        color #000

  // .overlay-hover-coming-soon
  //   opacity 0
  //   @media (min-width $bp-lg)
  //     opacity .5

  .col
    a:focus
      img
        opacity 1

    @media (min-width $bp-lg)
      &:hover
        .overlay-hover
          opacity 0
        .overlay-hover-content
          opacity 1
          transition all 1s ease

        img
          opacity 1
          width 105%
          max-width 105%
          margin -2.5% 0 0 -2.5%
          box-shadow 0 2px 2px #000


