@import 'variables'

blockquote
  clear both
  margin 0
  font-size $font-size-blockquote-mobile
  font-style italic
  color $color-highlight-primary
  line-height 1.7em
  text-align center
  padding $gutter-primary-lg $gutter-primary-lg
  @media (min-width $bp-md)
    font-size $font-size-blockquote-desktop
    padding $gutter-primary-x-lg $gutter-primary-lg
  &.xx-large-padding
    padding $gutter-primary-x-lg $gutter-primary-lg
    @media (min-width $bp-md)
      padding $gutter-primary-xx-lg $gutter-primary-lg

  span
    display inline-block
    &.copy
      width 80%
      vertical-align baseline
    &.quote
      color $color-blockquote
      font-size 3em
      @media (min-width $bp-sm)
        font-size 4em
      @media (min-width $bp-md)
        font-size 5em
      &:first-child
        vertical-align top
        margin-bottom -0.1em
        margin-left -0.45em
        @media (min-width $bp-sm)
          margin-left 0
      &:last-child
        display none
        vertical-align bottom
        margin-bottom -0.3em
        @media (min-width $bp-sm)
          display inline-block

  span.author,
  a.read-full
    display block
    font-style normal
    color $color-text-primary
    margin-left 5.2%

  &.album
    text-align left
    padding 0
    line-height 1.3em
    @media (min-width $bp-md)
      line-height 1.7em
    span.copy .inner,
    span.author,
    a.read-full
      font-size 0.75em
    span.copy
      text-align left

    span.copy
      width 100%
      padding-bottom 0
    span.inner
      float left
      width auto
      max-width 89%
    span.quote
      float left
      width auto
      &:first-child
        margin-left -0.15em
        margin-right 0
        width 7%
      &:last-child
        display inline-block

  &.album-small
    span.inner
      max-width 87%
    span.quote
      font-size 3em
      &:first-child
        width 9%
    span.author
      margin-left 6.5%


  &.review
    .copy,
    .author,
    .read-full
      font-size 0.75em

  a.read-full
    display inline-block
