@import 'variables'

blockquote
  clear both
  margin 0
  font-size $font-size-blockquote-mobile
  font-style italic
  color $color-highlight-primary
  line-height 1.7em
  text-align center
  padding $gutter-primary-lg $gutter-primary-lg
  @media (min-width $bp-md)
    font-size $font-size-blockquote-desktop
    padding $gutter-primary-x-lg $gutter-primary-lg
  &.xx-large-padding
    padding $gutter-primary-x-lg $gutter-primary-lg
    @media (min-width $bp-md)
      padding $gutter-primary-xx-lg $gutter-primary-lg

  span
    display inline-block
    &.copy
      width 86%
      vertical-align baseline
    &.quote
      color $color-blockquote
      font-size 5em
      &:first-child
        vertical-align top
        margin-bottom -0.1em
        margin-left -0.45em
        @media (min-width $bp-sm)
          margin-left 0
      &:last-child
        display none
        vertical-align bottom
        margin-bottom -0.3em
        @media (min-width $bp-sm)
          display inline-block
          margin-left -0.2em

  &.album
    text-align left
    padding 0
    span.copy,
    span.author
      font-size 0.75em

    span.copy
      width 100%
      padding-bottom 0
    span.inner
      float left
      width auto
      max-width 89%
    span.quote
      float left
      width auto
      font-size 3em
      &:first-child
        margin-left -0.15em
        margin-right 0
        width 7%
        @media (min-width $bp-sm)
          width 10%
        @media (min-width $bp-md)
          width 7%
      &:last-child
        display none
        margin-left 0.03em

    span.author
      display block
      font-style normal
      color #616161
      margin-left 5.5%
      @media (min-width $bp-sm)
        margin-left 8%
      @media (min-width $bp-md)
        margin-left 5.5%
