@import 'variables'

button,
.button,
input[type="submit"],
textarea
  border 0 none
  appearance none
  -webkit-appearance none
  -moz-appearance none

button,
.button,
.button-lg,
input[type="submit"]
  width 100%
  opacity 1
  display block
  background $color-bg-secondary
  color $color-logo
  transition all 0.2s ease
  &:focus
    outline 0 none
  @media (min-width $bp-md)
    &:hover,
    &:focus,
    &.loading
      background $color-logo
      color $color-bg-secondary


button,
.button
  padding $button-spacing
  font-size 1.1em
  @media (min-width $bp-sm)
    font-size 1.4em

.button-lg
  padding $button-spacing-lg-vertical $button-spacing-lg-horizontal
  font-size 1.1em
  @media (min-width $bp-sm)
    font-size 1.4em

.button[disabled],
.button-lg[disabled]
  opacity 0.6
  @media (min-width $bp-md)
    &:hover,
    &:focus
      background $color-bg-secondary
      color $color-logo


.button-view-nav
  text-align center

.button-view-nav a
  clear both
  width 100%
  padding-right $gutter-primary
  margin-top $gutter-primary-x-lg
  line-height initial
  text-align center
  @media screen and (min-width: $bp-xs)
    width 50%
    display inline-block
    margin 0 auto
    margin-top $gutter-primary-x-lg + $gutter-primary
  @media screen and (min-width: $bp-sm)
    width auto
    text-align left
  span
    @media screen and (min-width: $bp-sm)
      float left
  &.text-link
    padding-left 1.8em
    padding-right 1.8em
    margin-top $gutter-primary
    opacity 0.3
    transition all 0.2s ease
    &:hover,
    &:focus
      opacity 1

  small,
  i
    transition all 0s ease
  small
    display block
    opacity 0.3
    font-size 70%
  i
    opacity 0.3
    background none
    margin-right 0
    top 2px
    position relative
    @media screen and (min-width: $bp-sm)
      float right
      top 0

    padding-top 0.1em
    font-size 1.1em
  @media (min-width $bp-md)
    &:hover,
    &:focus
      small
        opacity 0.5
      i
        opacity 1
        color $color-bg-secondary

  &.w-sub-copy
    i
      padding-top 0.05em
      font-size 2em
