@import 'variables'

.col-1-3rd
    float left
    width 33.3%

.col-1-3rd-md
  @media (min-width: $bp-md)
    float left
    width 33.3%

.col-1-6th-md
  @media (min-width: $bp-md)
    float left
    width 16.6666667%

.col-20
  float left
  width 20%

.col-20-md
  @media (min-width: $bp-md)
    float left
    width 20%

.col-25-md
  @media (min-width: $bp-md)
    float left
    width 25%

.col-30
  @media (min-width: $bp-sm)
    float left
    width 30%

.col-30-md
  @media (min-width: $bp-md)
    float left
    width 30%

.col-40
  @media (min-width: $bp-sm)
    float left
    width 40%

.col-40-md
  @media (min-width: $bp-md)
    float left
    width 40%

.col-50-xs
  @media (max-width: $bp-md)
    float left
    width 50%

.col-50
  @media (min-width: $bp-sm)
    float left
    width 50%

.col-50-sm
  @media (min-width: $bp-sm)
    float left
    width 50%

.col-50-md
  @media (min-width: $bp-md)
    float left
    width 50%

.col-60
  @media (min-width: $bp-sm)
    float left
    width 60%

.col-60-md
  @media (min-width: $bp-md)
    float left
    width 60%

.col-70
  @media (min-width: $bp-sm)
    float left
    width 70%

.col-70-md
  @media (min-width: $bp-md)
    float left
    width 70%

.col-80
    float left
    width 80%

.col-80-md
  @media (min-width: $bp-md)
    float left
    width 80%

.col-12
  @media (min-width: $bp-sm)
    float left
    width 80%

.col-12-md
  @media (min-width: $bp-md)
    float left
    width 100%

.col-333-md
  @media (min-width: $bp-md)
    float left
    width 33.333%


.grid-layout-4-4
  li
    @media (min-width: $bp-sm)
      padding $gutter-primary
    @media (min-width: $bp-lg)
      padding $gutter-primary-lg

.grid-col-hover

  > li
    max-height 130px
    overflow hidden
    height 130px
    cursor pointer
    @media (min-width: 350px)
      max-height 170px
      height 170px
    @media (min-width: 450px)
      height 185px
      max-height 185px
    @media (min-width: $bp-xs)
      height 230px
      max-height 230px
    @media (min-width: $bp-sm)
      height 290px
      max-height 290px
    @media (min-width: $bp-md)
      height 170px
      max-height 170px
    @media (min-width: $bp-md + 100px)
      height 190px
      max-height 190px
    @media (min-width: $bp-lg)
      height 200px
      max-height 200px
    @media (min-width: $bp-lg + 100px)
      height 210px
      max-height 210px
    @media (min-width: $bp-lg + 170px)
      height 225px
      max-height 225px

    img
      width 100%
      transition all 0.3s ease
    a
      display block
      opacity 0.5
      transition all 0.6s ease
      @media (min-width: $bp-md)
        &:hover
          opacity 1
          img
            width 105%
            max-width 105%
            margin -2.5% 0 0 -2.5%

  > .row > div
    @media (min-width: $bp-md)
      &:hover
        .box-heading
          background-color rgba(0, 0, 0, 0.22)
        ul
          opacity 1
          color $color-highlight-primary
