@import 'variables'

.col-1-3rd
  @media screen and (min-width: 600px)
    float left
    width 33.3%

.col-20
  @media screen and (min-width: 600px)
    float left
    width 20%

.col-30
  @media screen and (min-width: 600px)
    float left
    width 30%

.col-30-md
  @media screen and (min-width: $bp-md)
    float left
    width 30%

.col-40
  @media screen and (min-width: 600px)
    float left
    width 40%

.col-40-md
  @media screen and (min-width: $bp-md)
    float left
    width 40%

.col-50
  @media screen and (min-width: 600px)
    float left
    width 50%

.col-50-md
  @media screen and (min-width: $bp-md)
    float left
    width 50%

.col-60
  @media screen and (min-width: 600px)
    float left
    width 60%

.col-60-md
  @media screen and (min-width: $bp-md)
    float left
    width 60%

.col-70
  @media screen and (min-width: 600px)
    float left
    width 70%

.col-70-md
  @media screen and (min-width: $bp-md)
    float left
    width 70%

.col-80
  @media screen and (min-width: 600px)
    float left
    width 80%

.col-80-md
  @media screen and (min-width: $bp-md)
    float left
    width 80%

.col-12
  @media screen and (min-width: 600px)
    float left
    width 80%

.col-12-md
  @media screen and (min-width: $bp-md)
    float left
    width 100%