@import 'variables'

form
  margin 0

input,
textarea
  border solid 1px #3A3A3A
  background $color-box-bg
  width 100%
  padding $gutter-primary
  transition all 0.1s ease
  &:focus
    outline 0 none
    border-color #525252
    color $color-highlight-primary

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
  color $color-text-secondary

input:-moz-placeholder,
textarea:-moz-placeholder
  color $color-text-primary

input::-moz-placeholder,
textarea::-moz-placeholder
  color $color-text-primary

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
  color $color-text-primary

textarea
  max-width 100%
  max-height 250px !important
