@import 'variables'

.icon-cross,
.icon-tick
  display inline-block
  vertical-align baseline
  padding 0.25em
  margin-right $gutter-primary
  border-radius 50%

.icon-cross
  background $color-bg-primary
  color $color-highlight-primary

.icon-tick
  background $color-green
  color $color-highlight-primary
