@import 'variables'

img
  max-width 100%

.align-right
  text-align right

.align-left
  text-align left

.align-center
  text-align center

.margin-auto
  margin 0 auto

.cancel-float
  float none

.cancel-padding
  padding 0

.cancel-vertical-padding
  padding-top 0
  padding-bottom 0

.cancel-top-padding
  padding-top 0

.cancel-bottom-padding
  padding-bottom 0

.cancel-horizontal-padding
  padding-right 0
  padding-left 0

.cancel-right-padding
  padding-right 0

.cancel-left-padding
  padding-left 0

.sr-only
  visibility hidden