@import 'variables'

.modal-open
  overflow hidden

.modal
  display none
  overflow hidden
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1050
  -webkit-overflow-scrolling touch
  outline 0


.modal.fade .modal-dialog
  -webkit-transform translate(0, -25%)
  -ms-transform translate(0, -25%)
  -o-transform translate(0, -25%)
  transform translate(0, -25%)
  -webkit-transition -webkit-transform 0.3s ease-out
  -o-transition -o-transform 0.3s ease-out
  transition transform 0.3s ease-out

.modal.in .modal-dialog
  -webkit-transform translate(0, 0)
  -ms-transform translate(0, 0)
  -o-transform translate(0, 0)
  transform translate(0, 0)

.modal-open .modal
  overflow-x hidden
  overflow-y auto

.modal-dialog
  position relative
  height 100%
  width auto !important
  max-width 100%
  border solid 1px transparent
  overflow hidden
  @media (min-width 992px)
    max-width 100%

.modal-content
  position relative
  background none
  height auto !important
  box-shadow none
  -webkit-box-shadow none
  border 0 none
  border-radius 0
  outline 0 none

.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1040
  background-color #000000

.modal-backdrop.fade
  opacity 0

.modal-backdrop.in
  opacity 0.7

.modal-header
  padding 15px
  border-bottom 1px solid #e5e5e5

.modal-header .close
  margin-top -2px

.modal-title
  margin 0
  line-height 1.42857143

.modal-body
  position relative
  padding 0
  background none
  border 0 none

.modal-body-inner
  margin 10px 0
  margin-top $header-height-mobile
  @media (min-width $bp-md)
    margin-top $header-height-mobile * 2
    margin-right auto
    margin-bottom $header-height-mobile
    margin-left auto

.modal-footer
  padding 15px
  text-align right
  border-top 1px solid #e5e5e5

.modal-footer .btn + .btn
  margin-left 5px
  margin-bottom 0

.modal-footer .btn-group .btn + .btn
  margin-left -1px

.modal-footer .btn-block + .btn-block
  margin-left 0

.modal-scrollbar-measure
  position absolute
  top -9999px
  width 50px
  height 50px
  overflow scroll

.modal-sm
  @media (min-width 768px)
    width 300px

.modal-lg
  @media (min-width 992px)
    width $section-max-width

.modal-header::before,
.modal-header::after,
.modal-footer::before,
.modal-footer::after
  content " "
  display table

.modal-header::after,
.modal-footer::after
  clear both


.modal-body .icon-cross
  position fixed
  top 0
  right 0
  margin 0
  z-index 2
  background none
  text-shadow 0 3px 1px #000
  color #FFF
  font-size 2.15em
  cursor pointer
  opacity 0.5
  transition all 0.2s ease
  &:hover
    opacity 0.8
