@import 'variables'

.row-plangular
  display none
  @media (min-width: $bp-md)
    display block

.plangular
  float left
  clear both
  width 100%
  background #000
  padding $gutter-primary-lg

  .col-buttons
    float left
    padding-top 0.7em
    padding-top 0.35em
    @media (min-width: $bp-xxs)
      width 110px
    @media (min-width: $bp-md)
      width 110px

  .col-progress
    clear both
    @media (min-width: $bp-xxs)
      clear none
      float left
      width calc(100% - 111px)
      padding-left $gutter-primary-x-lg

  nav
    button
      float left
      padding-right 0.6em
      padding-left 0.6em
      background none
      color $color-text-primary

      @media (min-width: $bp-xxs)
        width auto

      @media (min-width: $bp-md)
        color $color-bg-secondary
        &:hover,
        &:focus
          color $color-text-primary
      i
        font-size 1.2em
        margin 0 auto
        width 23px
        margin 0 auto
        @media (min-width: $bp-md)
          width auto

      &.previous
      &.next
        text-align right
        padding-right 0

      &.previous
        padding-bottom 0.5em
        transform rotate(180deg)

      &.play-pause
        padding-top 0.2em
        padding-bottom 0
        color $color-highlight-primary
        @media (min-width: $bp-md)
          &:hover,
          &:focus
            color $color-text-primary
        i
          font-size 1.9em
          margin-left -3px
          @media (min-width: $bp-md)
            margin-left -2px

      &.next
        padding-top 0.5em
        @media (min-width: $bp-xxs)
          padding-left 0

  .current-time
    min-height 23px
    margin 0
    padding-bottom 3px

    span
      display block

  .progress
    display block
    width 100%
    background-color #1A1A1A
    color #2C2C2C
    border 0
    border-radius 10000px
    overflow hidden
    -webkit-appearance none
    cursor pointer

  .progress::-webkit-progress-bar
    -webkit-appearance none
    background-color #1A1A1A

  .progress::-webkit-progress-value
    -webkit-appearance none
    background-color currentColor

  .progress::-moz-progress-bar
    background-color currentColor

  ul
    margin-bottom 0

  li
    clear both
    width 100%
    transition all 0.2s ease
    padding $gutter-primary-lg 0
    cursor pointer
    h3,
    p
      margin 0
      color $color-text-secondary
      transition all 0.2s ease
    h3
      font-size 1em
    p
      float right
      opacity 0.4
      @media (min-width: $bp-md)
        width auto
    &:hover,
    &.active
      h3,
      p
        color $color-highlight-primary
    &.last
      h3,
      p
        margin-bottom 0
