@import 'variables'

::selection
  background-color $color-highlight-primary
  color #000
  text-shadow none

::-moz-selection
  background-color $color-highlight-primary
  color #000
  text-shadow none

::-webkit-selection
  background-color $color-highlight-primary
  color #000
  text-shadow none

h1,
h2,
h3,
h4,
h5,
h6
  font-weight normal
  margin 0 0 $font-margin-bottom-common 0

h1
  font-size $font-size-h1-mobile !important
  @media (min-width $bp-md)
    font-size $font-size-h1-desktop !important

h2
  font-size $font-size-h2-mobile
  @media (min-width $bp-md)
    font-size $font-size-h2-desktop

h3
  font-size $font-size-h3-mobile
  @media (min-width $bp-md)
    font-size $font-size-h3-desktop

h4,
h5,
h6
  font-size $font-size-h4-mobile
  @media (min-width $bp-md)
    font-size $font-size-h4-desktop

.page-sub-title
  clear both
  padding-top $gutter-primary-x-lg
  padding-bottom $gutter-primary-lg
  margin-bottom 0
  font-size $font-size-h2-mobile
  font-weight normal
  @media (min-width $bp-xs)
    font-size $font-size-h1-mobile
  @media (min-width $bp-md)
    padding-top $gutter-primary-x-lg
    padding-bottom $gutter-primary-x-lg
    font-size $font-size-h1-desktop

.font-size-large
  font-size $font-size-h3

.font-size-h1
  font-size $font-size-h1-mobile !important
  @media (min-width $bp-md)
    font-size $font-size-h1-desktop !important

p
  margin 0 0 $gutter-primary-x-lg 0
  padding 0

a
  text-decoration none
  color $color-text-primary

.link-highlight-hover a
  opacity 0.5
  color #FFF
  transition all 0.3s ease
  &:hover,
  &:focus
    color $color-highlight-primary
    outline 0 none
  @media (min-width: $bp-md)
    &:hover,
    &:focus
      opacity 1

.link-highlight-hover-border a
  padding-bottom 1px
  border-bottom solid 1px $color-text-primary
  &:hover,
  &:focus
    border-bottom-color $color-bg-secondary

.link-highlight-hover-border .img-wrap a
  border 0 none

ul,
ol,
dl
  margin 0
  padding 0

li
dl
  list-style-type none

.long-copy-line-height
  line-height 1.8em

.text-uppercase
  text-transform uppercase


// currently only used on home page
.new-heading-theme
  font-size 21px
  letter-spacing 4px
  color $color-text-highlight
  margin-bottom 45px
  font-weight 300
  text-align center
  max-width 80%
  margin-right auto
  margin-left auto
  @media (min-width $bp-xxs)
    max-width 66%
    margin-right auto
    margin-left auto
  @media (min-width $bp-sm)
    font-size 26px
  @media (min-width $bp-sm)
    max-width 100%
  @media (min-width $bp-md)
    text-align left
