@import 'variables'

::selection
  background-color $color-highlight-primary
  color $color-bg-primary
  text-shadow none

::-moz-selection
  background-color $color-highlight-primary
  color $color-bg-primary
  text-shadow none

::-webkit-selection
  background-color $color-highlight-primary
  color $color-bg-primary
  text-shadow none

h1,
h2,
h3,
h4,
h5,
h6
  font-weight normal
  margin 0 0 0.5em 0

h1
  font-size $font-size-h1-mobile !important
  @media (min-width $bp-md)
    font-size $font-size-h1-desktop !important

h3
  font-size $font-size-h3

h4,
h5,
h6
  font-size 1.3em

.font-size-large
  font-size $font-size-h3

.font-size-h1
  font-size $font-size-h1-mobile !important
  @media (min-width $bp-md)
    font-size $font-size-h1-desktop !important

p
  margin 0 0 $gutter-primary-lg 0
  padding 0

a
  text-decoration none
  color $color-text-primary

.link-highlight-hover a
  opacity 0.5
  color #FFF
  transition all 0.3s ease
  &:hover,
  &:focus
    color $color-highlight-primary
    outline 0 none
  @media screen and (min-width: $bp-md)
    &:hover,
    &:focus
      opacity 1

.link-highlight-hover-border a
  padding-bottom 1px
  border-bottom solid 1px $color-text-primary
  &:hover,
  &:focus
    border-bottom-color $color-bg-secondary

ul,
ol,
dl
  margin 0
  padding 0

li
dl
  list-style-type none

.long-copy-line-height
  line-height 1.5em

.text-uppercase
  text-transform uppercase
