$bp-xxs = 450px
$bp-xs = 500px
$bp-sm = 600px
$bp-md = 768px
$bp-lg = 1000px

$section-max-width = 900px

$color-logo = #CBCBCB;

$color-bg-primary = #121212
$color-heading-primary = #B5B5CD
$shadow-heading-primary = 0 3px 2px #000
$color-text-primary = #767676
$color-highlight-primary = #B0B0B0

$gutter-primary = 0.5856em
$gutter-primary-lg = $gutter-primary * 2
$gutter-primary-x-lg = $gutter-primary-lg * 2
$gutter-primary-xx-lg = $gutter-primary-x-lg * 2
$gutter-primary-xxx-lg = $gutter-primary-x-lg * 3

$row-margin-bottom = $gutter-primary-lg + $gutter-primary

$section-gutter-horizontal = 3em

$color-bg-secondary = #282828
$color-text-secondary = #717171
$color-highlight-secondary = #767676

$color-bg-tertiary = #1B1B1B
$color-text-tertiary = #313131

$color-red = #6A2A30;
$color-green = #2A6A3C;

$color-blockquote = #424242;

$font-size-h1-mobile = 1.8em
$font-size-h1-desktop = 2em
$font-size-h2 = 1.5em
$font-size-h3 = 2.3em

$font-size-blockquote-mobile = 1.2em
$font-size-blockquote-desktop = 1.4em


$button-spacing-vertical =  0.5em
$button-spacing-horizontal =  1.3em
$button-spacing = $button-spacing-vertical $button-spacing-horizontal

$button-spacing-lg-vertical = $button-spacing-vertical * 3
$button-spacing-lg-horizontal = $button-spacing-horizontal

$color-box-bg = #161616

$header-height-mobile = 50.5px
$header-height-desktop = 61px

$nav-bg = rgba(40, 40, 40, 0.95)
$tabbed-content-bg = rgba(18, 18, 18, 0.85)

$img-border = solid 2px rgba(64, 64, 64, 0.49)
