<section class="row gigs long-copy-line-height include-bg-img">

  <h1 class="sr-only">Fiona Ross Gigs</h1>

  <div ng-if="vm.data && vm.data.length">
    <ul class="sr-only">
      <li ng-repeat="gig in vm.data">Fiona Ross - {{gig.venue}} - {{gig.location}}</li>
    </ul>
  </div>

  <img src="./images/gigs/bg.png" class="img-bg" />

  <div class="main-content">

    <div ng-if="vm.gigsByYears && vm.gigsByYears.length">

      <ul>
        <li ng-repeat="year in vm.gigsByYears" class="row" ng-class="{last: $last, first: $first}">

          <h3 class="page-heading heading-uppercase">{{year.year}} Gigs</h3>

          <ul>
            <li ng-repeat="gig in year.gigs" class="row" ng-class="{last: $last, first: $first}">

              <div class="inner">
             
                <h2 ng-if="gig.title && gig.venue">
                  <a ng-href="{{gig.ticketsUrl}}" target="_blank">
                    {{gig.title}} - {{gig.venue}}
                  </a>
                </h2>

                <h2 ng-if="!gig.title && gig.venue">
                  <a ng-href="{{gig.ticketsUrl}}" target="_blank">
                    {{gig.venue}}
                  </a>
                </h2>

                <p class="city-country">{{gig.location}}</p>
            
                <p class="date">
                  {{gig.date}}
                  <span ng-if="gig.time">&nbsp;-&nbsp;{{gig.time}}</span>
                </p>
            
                <div class="row button-wrap">
                  <a class="button" ng-href="{{gig.ticketsUrl}}" target="_blank">Tickets</a>
                </div>
              </div>

            </li>
          </ul>          

        </li>
      </ul>
    </div>

    <div ng-if="vm.promiseError">
      <promise-error></promise-error>
    </div>

    <div ng-if="vm.promiseLoading">
      <promise-loading></promise-loading>
    </div>

    <div ng-if="!vm.promiseLoading" class="row button-view-nav">
      <a ui-sref="news" class="button">
        <span>News</span>
        <i class="icon-arrow-right"></i>
      </a>
      <br/>
      <a ui-sref="contact" class="link-highlight-hover-border text-link">Booking enquiries</a>
    </div>

  </div>

</section>
