@import '../../styles/variables'

.gigs

  h3
    text-align center
    font-weight 300
    color $color-highlight-primary
    padding-bottom $gutter-primary-lg
    margin-bottom $gutter-primary-lg

  .img-bg
    display none
    @media (min-width $bp-sm)
      display block

  .main-content
    max-width 500px
    @media (min-width $bp-md)
      max-width 100%
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  .year-title
    padding 0 $gutter-primary
    margin-bottom $gutter-primary

  li
    padding $gutter-primary-x-lg 0 $gutter-primary-xx-lg 0
    border-bottom solid 1px $color-bg-secondary
    @media (min-width $bp-md)
      padding $gutter-primary-xx-lg 0
      border-bottom 0 none

    &.first 
      padding-top $gutter-primary-lg
    &.last
      border-bottom 0 none

    img
      @media (min-width $bp-md)
        float right
        max-width 50%
    .col-details
      @media (min-width $bp-md)
        float left
        width: 50%
        padding-right 1em

    h2
      color $color-highlight-primary
      margin-bottom 0
      text-transform uppercase
      letter-spacing 2px
      font-weight 300
      color #DADADA

    .city-country
      margin-bottom $gutter-primary

    .button-wrap
      padding-top $gutter-primary-lg

    .button
      width auto
      display inline-block
      margin-right $gutter-primary
      margin-bottom $gutter-primary-lg
      font-size .95em
    
  li:nth-child(even)
    img
      @media (min-width $bp-md)
        float left
    .col-details
      @media (min-width $bp-md)
        float right
        padding-right 0
        padding-left 1em
