@import '../../styles/variables'

.gigs

  .main-content
    max-width 500px
    @media (min-width $bp-md)
      max-width 100%
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  li
    padding $gutter-primary-lg 0
    margin-bottom 0
    @media (min-width $bp-md)
      clear both
      border-bottom solid 1px $color-bg-secondary
      margin-bottom 0
    &.last
      border-bottom 0 none
    .inner
      display inline-block
      width 100%
      vertical-align top
      background $card-bg-mobile
      padding $gutter-primary
      @media (min-width: $bp-md)
        background $card-bg-desktop
        padding 0
    .inner > div
      @media (min-width: $bp-md)
        padding $gutter-primary-lg $gutter-primary


    .col-date
      font-weight 300
      span
        float left
        @media (min-width: $bp-md)
          float none
          display block
          text-align center

      .day-month
        color $color-highlight-primary
        text-transform uppercase
        font-size $font-size-h2-mobile
        padding-right $gutter-primary
        @media (min-width: $bp-md)
          padding-right 0

      .time
        color $color-highlight-secondary

    .col-img
      display none
      padding-top 0 !important
      padding-bottom 0 !important
      @media (min-width: $bp-lg)
        display block

    img
      max-height 87.5px
      overflow hidden
      display block
      margin 0 auto

    .col-title-venue
      clear both
      @media (min-width: $bp-md)
        clear none
        width 60%
      @media (min-width: $bp-lg)
        width 50%

    h2
      color $color-highlight-primary
      font-weight 300
      font-size $font-size-h4-desktop
      margin-bottom 0

    h3
      font-size $font-size-h4-mobile
      font-weight 300
      margin-bottom 0
      .seperator
        @media (min-width: $bp-md)
          display none

    .col-links
      float left
      margin-right $gutter-primary
      @media (min-width: $bp-md)
        margin-right 0
        padding-top $gutter-primary-x-lg
        width 15%
        text-align center
      @media (min-width: $bp-lg)
        width 10%

      a
        text-decoration underline
        @media (min-width: $bp-md)
          text-decoration none

    .col-links-first
      clear both
      @media (min-width: $bp-md)
        clear none
