<section class="row gigs long-copy-line-height include-bg-img">

  <h1 class="sr-only">Fiona Ross Gigs</h1>
  <ul class="sr-only">
    <li>Fiona Ross - Pizza Express - The Pheasantry</li>
    <li>Fiona Ross - Save The Children UK Concert 2018</li>
    <li>Fiona Ross - Colchester Arts Centre Jazz Club</li>
  </ul>

  <img src="./images/gigs/bg.png" class="img-bg" />

  <div class="main-content">

    <h3>2018 Gigs</h3>

    <ul>
      <li ng-repeat="gig in vm.gigs" class="row" ng-class="{last: $last, first: $first}">
        <div class="inner">

          <div class="col-details">
            <a ng-href="{{gig.urls.moreInfo}}" target="_blank">
              <h2>{{gig.venue}}</h2>
            </a>
            <p class="city-country">{{gig.cityCountry}}</p>

            <a ng-href="{{gig.urls.moreInfo}}" target="_blank">
              <span class="day-month">{{gig.date.day}} {{gig.date.month}}</span>
              <span>{{gig.date.year}}</span>
              <span ng-if="gig.date.time" class="time"> - {{gig.date.time}}</span>
            </a>

            <div class="row button-wrap">
              <a ng-if="gig.urls.tickets === 'TBA'" class="button" ng-href="{{gig.urls.moreInfo}}" target="_blank">Tickets TBA</a>
              <a ng-if="gig.urls.tickets === 'DOOR'" class="button" ng-href="{{gig.urls.moreInfo}}" target="_blank">Tickets on the door</a>
              <a ng-if="gig.urls.tickets !== 'TBA' && gig.urls.tickets !== 'DOOR'" class="button" ng-href="{{gig.urls.tickets}}" target="_blank">Tickets</a>
              <a class="button" ng-if="gig.urls.moreInfo" ng-href="{{gig.urls.moreInfo}}" target="_blank">More info</a>
            </div>

          </div>

          <img ng-src="./images/gigs/{{gig.image}}" alt="{{gig.venue}}" />

        </div>
      </li>

    </ul>


    <div class="row button-view-nav">
      <a ui-sref="news" class="button">
        <span>News</span>
        <i class="icon-arrow-right"></i>
      </a>
      <br/>
      <a ui-sref="contact" class="link-highlight-hover-border text-link">Booking enquiries</a>
    </div>

  </div>

</section>
