@import '../../styles/variables';

.music

  .img-bg
    padding-top $header-height-mobile
    @media (min-width $bp-md)
      padding-top $header-height-desktop

  .main-content
    max-width $section-max-width
    margin 0 auto
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

  .button-view-nav
    padding-top $gutter-primary-xx-lg