@import '../../styles/variables';

.music
  @media (min-width $bp-md)
    padding-bottom 0

  .img-bg
    display none
    @media (min-width $bp-md)
      display block
      padding-top $header-height-desktop - 10px
    @media (min-width 910px)
      padding-top $header-height-desktop

  .main-content
    max-width $section-max-width
    margin 0 auto
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

  .button-view-nav
    @media (min-width $bp-lg)
      padding-top $gutter-primary-xx-lg