<section class="row music include-bg-img">
  <h1 class="sr-only">Fiona Ross Music Albums</h1>
  <img src="./images/shared/bg.png" class="img-bg" />

  <div class="main-content">

    <ul class="album-cols">
      <li ng-repeat="album in vm.albums"
          class="col col-50-sm"
          ng-class="{last: $last}">
         <a ng-if="!album.comingSoon" ui-sref="musicAlbum({id: album.id})" class="released">
          <h2 class="sr-only">{{album.name}}</h2>
           <span class="img-wrap">
             <img ng-src="{{album.images.thumb}}" alt="{{album.name}}" />
           </span>
           <div class="overlay overlay-hover">
             <div class="content">
               <i class="icon-zoom"></i>
             </div>
           </div>
         </a>
         <span ng-if="album.comingSoon" class="img-wrap">
           <a ui-sref="musicAlbum({id: album.id})">
            <h2 class="sr-only">{{album.name}}</h2>
             <img ng-src="{{album.images.thumb}}" alt="{{album.name}}" />
             <div class="overlay overlay-hover overlay-hover-coming-soon">
               <div class="content">
                 <p><span>Coming April 7th&nbsp;</span></p>
               </div>
             </div>
             <div class="overlay overlay-hover-content">
               <div class="content">
                 <p><span>Coming April 7th! </span></p>
               </div>
             </div>
           </a>
         </span>
      </li>
    </ul>

    <div class="row button-view-nav">
       <a ui-sref="about" class="button">
        <span>About Fiona</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
