<section class="row music cancel-top-padding">

  <div class="main-content">

    <ul class="album-cols">
      <li ng-repeat="album in vm.albums" class="col col-50-md">
         <a ng-if="!album.comingSoon" ui-sref="musicAlbum({id: album.id})" class="released">
           <span class="img-wrap">
             <img ng-src="{{album.images.thumb}}" alt="{{album.name}}" />
           </span>
           <div class="overlay overlay-hover">
             <div class="content">
               <i class="icon-zoom"></i>
             </div>
           </div>
         </a>
         <span ng-if="album.comingSoon" class="img-wrap">
           <img ng-src="{{album.images.thumb}}" alt="{{album.name}}" />
           <div class="overlay overlay-hover coming-soon-overlay">
             <div class="content">
               <p><span>Coming soon</span></p>
             </div>
           </div>
           <div class="overlay overlay-hover-content">
             <div class="content">
               <p><span>Coming soon in 2016</span></p>
             </div>
           </div>
         </span>
      </li>
    </ul>

    <div class="row button-view-nav">
       <a ui-sref="about" class="button">
        <span>About Fiona</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>

</section>