@import '../../styles/variables'

.music-album-physical

  h3
    color $color-highlight-primary
    font-weight lighter
    margin-bottom $gutter-primary-xs
  
    + small
      display block
      padding-bottom $gutter-primary-lg
      margin-bottom $gutter-primary-x-lg
      opacity: .2
      color #CCC
      letter-spacing 1px

  .main-content
    margin 0 auto
    color $color-highlight-secondary
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg
