@import '../../styles/variables';

.gallery
  .main-content
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  .img-bg
    display none
    @media (min-width $bp-md)
      display block
      padding-top $header-height-desktop


.gallery-list
  list-style-type none
  margin 0
  padding 0

.close
  position absolute
  top 0
  right 0

.lightbox-nav
  position absolute
  z-index 2
  top 42%
  width 100%
  i
    cursor pointer
    font-size 6.5em
    text-shadow 0 3px 1px #000
    color #FFF
    opacity 0.5
    transition all 0.2s ease
    max-width 10%
    @media (min-width: $bp-md)
      max-width 100%

    &::before
      font-size 0.5em
      width 100%
    &:hover
      opacity 0.8
    &:first-child
      float left
      margin-left -0.10em
    &:last-child
      float right

.lightbox-image-container
  position relative
  text-align center
  padding 0 $gutter-primary-x-lg

.lightbox-image-caption
  position fixed
  background orange
  bottom -2px
  right 0
  left 0
  width 101%
  font-size 1.1em
  font-weight bold
  background-color $color-bg-secondary
  padding $gutter-primary
  text-align center

  span
    color $color-logo
    margin-left -1%

