@import '../../styles/variables';

.gallery-list
  list-style-type none
  margin 0
  padding 0

  > li
    height 100px
    overflow hidden
    cursor pointer
    @media screen and (min-width: $bp-xs)
      height 120px
    @media screen and (min-width: $bp-sm)
      height 150px
    @media screen and (min-width: $bp-md)
      height 100px
    @media screen and (min-width: $bp-md + 100px)
      height 110px
    @media screen and (min-width: $bp-md + 200px)
      height 125px
    @media screen and (min-width: $bp-lg)
      height 130px
    @media screen and (min-width: $bp-lg + 100px)
      height 140px
    @media screen and (min-width: $bp-lg + 150px)
      height 150px
    a
      opacity 0.5
      transition all 0.2s ease
      &:hover,
      &:focus
        opacity 1
        img
          width 105%
          max-width 105%
          margin -2.5% 0 0 -2.5%

    img
      width 100%
      transition all 0.1s ease

.close
  position absolute
  top 0
  right 0

.lightbox-nav
  position absolute
  z-index 2
  top 45%
  width 100%
  i
    cursor pointer
    font-size 3.5em
    text-shadow 0 3px 1px #000
    color #FFF
    &:first-child
      float left
    &:last-child
      float right

.lightbox-image-container
  position relative
  text-align center
  img
    width 100% !important
    height auto !important

.lightbox-image-caption
  position absolute
  bottom 0.9em
  left 0
  font-size 1.1em
  font-weight bold
  text-align left

  span
    margin 0.9em 1.5em
    padding 0.25em;
    background-color $color-bg-secondary
    color $color-logo

