@import '../../styles/variables';

.gallery-list
  list-style-type none
  margin 0
  padding 0

  &.grid-image-link-hover > li
    cursor pointer
    height 150px
    @media screen and (min-width: $bp-xs)
      height 200px
      max-height 200px
    @media screen and (min-width: $bp-sm)
      height 220px
      max-height 220px
    @media screen and (min-width: $bp-md)
      height 145px
      max-height 145px
    @media screen and (min-width: $bp-md + 100px)
      height 170px
      max-height 170px
    @media screen and (min-width: $bp-lg)
      height 190px
      max-height 190px
    @media screen and (min-width: $bp-lg + 100px)
      height 210px
      max-height 210px
    @media screen and (min-width: $bp-lg + 170px)
      height 225px
      max-height 225px

.close
  position absolute
  top 0
  right 0

.lightbox-nav
  position absolute
  z-index 2
  top 45%
  width 100%
  i
    cursor pointer
    font-size 3.5em
    text-shadow 0 3px 1px #000
    color #FFF
    &:first-child
      float left
    &:last-child
      float right

.lightbox-image-container
  position relative
  text-align center
  img
    width 100% !important
    height auto !important

.lightbox-image-caption
  position absolute
  bottom 0.9em
  left 0
  font-size 1.1em
  font-weight bold
  text-align left

  span
    margin 0.9em 1.5em
    padding 0.25em;
    background-color $color-bg-secondary
    color $color-logo

