<section class="row gallery include-bg-img">
  <h1 class="sr-only">Fiona Ross Gallery of gigs, events, photoshoots</h1>

  <img src="./images/shared/bg.png" class="img-bg" alt="Fiona Ross Gallery" />

  <div class="main-content">

    <p><a ui-sref="gallerySignedPhoto" class="intro-signed-photo">Get a signed photo from Fi</a></p>

    <ul class="grid-layout-4-4 gallery-list grid-col-hover">

      <li ng-repeat="img in vm.images" class="col-50-xs col-25-md">

        <a ng-click="vm.openLightboxModal($index)">
          <img ng-src="./images/{{img.thumbUrl}}" alt="Fiona Ross" />
        </a>

      </li>

    </ul>

    <div class="row button-view-nav">
      <a ui-sref="collaborators" class="button">
        <span>Collaborators</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </div>

</section>
