@import '../../styles/variables';

.collaborators

  h3.page-heading
    @media (min-width $bp-md)
      margin-bottom $gutter-primary
      padding-bottom $gutter-primary
    @media (min-width $bp-lg)
      margin-bottom $gutter-primary-lg

  .main-content
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  li
    position relative
    
  .grid-col-hover > li
    height 200px
    max-height 200px

  img
    width 100%

  .inner
    width 100%
    position relative
    overflow hidden
    min-height 160px
    max-height 160px
    

    @media (min-width $bp-xxs)
      min-height 187px
      max-height 187px
    @media (min-width $bp-sm)
      min-height 150px
      max-height 150px
    @media (min-width $bp-sm + 50px)
      min-height 170px
      max-height 170px
    @media (min-width $bp-lg)
      min-height 160px
      max-height 160px
    @media (min-width $bp-lg)
      min-height 177px
      max-height 177px

  .box-heading
    position absolute
    bottom 0
    left 0
    width 100%
    background-color rgba(40, 40, 40, 0.8)
    font-size 0.7em

  h4,
  p
    margin 0

  h4
    font-size 1.4em
    text-align center
    font-weight 300
    margin-bottom 0
    @media (min-width: $bp-xs)
      font-size 1.6em
    @media (min-width: $bp-sm)
      font-size 1.8em
    @media (min-width: $bp-md)
      font-size 1.5em
      text-align left
    @media (min-width: $bp-lg + 100px)
      font-size 1.8em
