@import '../../styles/variables';

.collaborators

  li
    position relative
    padding $gutter-primary-lg

  img
    width 100%

  .inner
    width 100%
    background orange
    position relative

  .box
    position absolute
    bottom 0
    left 0
    width 100%
    background-color rgba(40, 40, 40, 0.7)
    color #FFF
    padding $gutter-primary
    font-size 0.7em

  h4,
  p
    margin 0

  h4
    margin-bottom 0.25em

  p
    font-size 1.5em