<section class="row collaborators">
  <h1 class="sr-only">Fiona Ross Collaborators</h1>

  <div class="main-content">

    <div ng-if="vm.data && vm.data.length">
      <h3 class="page-heading">Collaborators</h3>

      <ul class="grid-layout-4-4 grid-col-hover">

        <li ng-repeat="collab in vm.data" class="col-50-xs col-25-md">

          <a ui-sref="collaboratorsInd({collabId: collab.collabId})">
            <div class="inner">
              <img ng-src="{{collab.avatarUrl}}" alt="{{collab.name}}" />
              <div class="box-heading">
                <h4>{{collab.name}}</h4>
              </div>
            </div>
          </a>

        </li>

      </ul>
    </div>

    <div ng-if="vm.promiseError">
      <p>Unable to fetch Collaborators.</p>
      <promise-error></promise-error>
    </div>
    
    <div ng-if="vm.promiseLoading">
      <promise-loading></promise-loading>
    </div>
    
    <div ng-if="!vm.promiseLoading" class="row button-view-nav">
      <a ui-sref="journalism" class="button">
        <span>Journalism</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
