@import '../../styles/variables';

.collaborators

  .main-content
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  li
    position relative

  img
    width 100%

  .inner
    width 100%
    position relative
    overflow hidden
    max-height 100%

  .box-heading
    position absolute
    bottom 0
    left 0
    width 100%
    background-color rgba(40, 40, 40, 0.8)
    font-size 0.7em

  h4,
  p
    margin 0

  h4
    font-size 1.4em
    text-align center
    font-weight 300
    margin-bottom 0
    @media (min-width: $bp-xs)
      font-size 1.6em
    @media (min-width: $bp-sm)
      font-size 1.8em
    @media (min-width: $bp-md)
      font-size 1.5em
      text-align left
    @media (min-width: $bp-lg + 100px)
      font-size 1.8em