<section class="row collaborators">
  <h1 class="sr-only">Fiona Ross Collaborators</h1>

  <div class="main-content">

    <ul class="grid-layout-4-4 grid-col-hover">

      <li ng-repeat="collab in vm.collaborators" class="col-50-xs col-25-md">

        <a ui-sref="collaboratorsInd({id: collab.id})">
          <div class="inner">
            <img ng-src="{{collab.images.thumb}}" alt="{{collab.name}}" />
            <div class="box-heading">
              <h4>{{collab.name}}</h4>
            </div>
          </div>
        </a>

      </li>

    </ul>

    <div class="row button-view-nav">
      <a ui-sref="articles" class="button">
        <span>Articles</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
