@import '../../styles/variables';

.music-album
  padding-top $gutter-primary
  @media (min-width: $bp-xs)
    padding-top $gutter-primary-x-lg
  @media (min-width: $bp-md)
    padding-top $gutter-primary


  &.include-bg-img .img-bg
    top $header-height-mobile
    @media (min-width: $bp-md)
      top 0
    &.black-white-album
      display none
      @media (min-width: $bp-lg)
        display block
        right -84%
