<section class="row music-album include-bg-img">

  <img ng-src="{{vm.album.images.bg}}" class="img-bg" alt="{{vm.album.name}}"/>

  <div class="main-content">

    <album data="vm.album" layout="2"></album>

    <div ng-if="vm.previousAlbum" class="row">
      <div style="min-height: 50px;">&nbsp;</div>
      <album data="vm.previousAlbum" layout="2"></album>
    </div>

    <div class="row button-view-nav">
       <a ui-sref="music" class="button">
        <span>All albums</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
