<section class="row music-album include-bg-img">

  <img ng-src="{{vm.album.images.bg}}" class="img-bg" alt="{{vm.album.name}}" ng-class="{'black-white-album' : vm.album.id === 3}" />

  <div class="main-content">

    <album data="vm.album" layout="2"></album>

    <div class="row" style="min-height: 50px;">&nbsp;</div>

    <div ng-if="vm.otherAlbums" class="row">
      <div ng-repeat="oAlbum in vm.otherAlbums" class="row music-album-others-album">
        <album data="oAlbum" layout="2"></album>
      </div>
    </div>

    <div class="row button-view-nav">
       <a ui-sref="music" class="button">
        <span>All albums</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
