@import '../../styles/variables';

.music-album
  padding-top $gutter-primary
  @media (min-width: $bp-xs)
    padding-top $gutter-primary-x-lg
  @media (min-width: $bp-md)
    padding-top $gutter-primary
    padding-right 0
    padding-left 0


  &.include-bg-img .img-bg
    top $header-height-mobile
    @media (min-width: $bp-md)
      top 0
    &.black-white-album
      display none
      @media (min-width: $bp-lg)
        display block
        right -84%

  .music-album-others-album
    margin-bottom $gutter-primary-x-lg

  .album-spacer
    margin 0
    min-height 25px;
    @media (min-width: $bp-lg)
      min-height 50px;
