@import '../styles/variables'

*
  box-sizing border-box

body
  background:$color-bg-primary;
  color:$color-text-primary;
  height 100%
  font 100% 'Source Sans Pro', Arial, sans-serif
  font-weight 300


.container
  max-width 1200px
  margin 0 auto

section
  padding $gutter-primary-lg $gutter-primary
  padding-top $section-gutter-horizontal
  @media (min-width $bp-md)
    padding-top $section-gutter-horizontal
    padding $gutter-primary-lg

fr-header,
fr-footer
  display block

fr-header,
.ui-view-wrap
fr-footer,
.row
  float left
  clear both
  width 100%

.row
  margin-bottom $row-margin-bottom

.app > .container > .row
  margin-bottom 0
  @media (min-width $bp-md)
    margin-bottom $row-margin-bottom

.icon-s-s,
.icon-ssp,
.icon-s-t,
.icon-s-f,
.icon-s-i,
.icon-s-y,
.icon-link,
.icon-read,
.icon-phone
  display inline-block
  vertical-align middle
  width 28px
  height 28px
  font-size 1em
  border-radius 50%
  color #FFF
  text-align center
  background-color $color-bg-secondary

.icon-s-s
  background #E17842
  &::before
    margin-top 3px

.icon-ssp
  background #1db954
  font-size 1.55em
  margin-right 10px !important
  &::before
    margin-left 1px

.icon-s-t
  background #1EBCED
  padding-top 5px
  padding-bottom 2px
  &::before
    margin-top 1px
    margin-left 1.5px

.icon-s-f
  background #3A5bA2
  &::before
    margin-top 5px

.icon-s-i
  background #7E2B8A
  &::before
    margin-top 5px

.icon-s-y
  background #E02F2F
  font-size 0.9em
  &::before
    margin-top 6px

.icon-link
  &::before
    margin-top 5px

.icon-read
  &::before
    margin-top 7px
    font-size 0.9em

.icon-phone
  &::before
    margin-top 5px

.hide-sm
  @media (min-width: $bp-sm)
    display none

.show-sm
  display none
  @media (min-width: $bp-sm)
    display block

.sr-only
  display none

.box-heading
  background-color rgba(0, 0, 0, 0.22)
  color #FFF
  padding $gutter-primary
  font-size 1em
  text-shadow 0 2px 5px $color-bg-primary

.main-content
  margin 0 auto

.include-bg-img

  .img-bg
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    margin 0 auto
    z-index 1

  .main-content
    position relative
    z-index 2

  .button-view-nav
    position relative
    z-index 3

.video-wrapper
  clear both
  position relative
  z-index 2
  max-width 800px
  //16:9
  // padding-bottom 56.25%
  padding-bottom 47.25%
  height 0
  text-align center
  margin 0 auto $gutter-primary-x-lg auto
  @media (min-width $bp-lg)
    margin-bottom $gutter-primary-xx-lg
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.video-wrapper-small
  padding-bottom 56.25%
  @media (min-width $bp-lg)
    padding-bottom 29.25%
    max-width 600px

.social-links-hover-rotate
  a
    opacity 0.4
    transition all 0.3s ease
    &:hover,
    &:focus
      outline 0 none
      color #FFF
    i
      transition all 0.3s ease
    @media (min-width: $bp-md)
      &:hover,
      &:focus
        opacity 1
        i
          transform rotate(360deg)
