@import url(https://fonts.googleapis.com/css?family=Belleza);

$color-logo = #CBCBCB;

$color-bg-primary = #121212
$color-heading-primary = #B5B5CD
$shadow-heading-primary = 0 3px 2px #000
$color-text-primary = #767676
$color-highlight-primary = #B0B0B0

$gutter-primary = 0.5856em

$color-bg-secondary = #282828
$color-text-secondary = #717171
$color-highlight-secondary = #767676

$color-bg-tertiary = #1B1B1B
$color-text-tertiary = #313131

$font-size-h1 =  2.35em

$button-spacing-vertical =  0.5em
$button-spacing-horizontal =  1.3em
$button-spacing = $button-spacing-vertical $button-spacing-horizontal



body
  background:$color-bg-primary;
  color:$color-text-primary;
  height 100%
  font 75% 'Belleza', sans-serif

img
  max-width 100%

blockquote
  font-size 1.6em
  font-style italic
  color $color-highlight-primary

h1,
h2,
h3,
h4,
h5,
h6
  font-weight normal
  margin 0 0 0.5em 0

h1
  font-size $font-size-h1 !important

h3
  font-size 1.7em

h4
  font-size 2.3em

a
  text-decoration none
  color:$color-text-primary;

ul,
ol,
dl
  margin 0
  padding 0


button,
.button
  padding $button-spacing
  background $color-bg-secondary
  color $color-logo
  font-size 1.6em



fr-header,
fr-footer
  display block

fr-header,
fr-footer,
.row
  clear both
  width 100%

.col-50
  @media screen and (min-width: 600px)
    float left
    width 50%