@import '/fonts/fontcustom.css'
@import url(https://fonts.googleapis.com/css?family=Belleza);
@import '../styles/variables'

*
  box-sizing border-box

body
  background:$color-bg-primary;
  color:$color-text-primary;
  height 100%
  font 75% 'Belleza', sans-serif

.container
  max-width 1200px
  margin 0 auto

section
  padding $gutter-primary-lg
  padding-top 3em

fr-header,
fr-footer
  display block

fr-header,
.ui-view-wrap
fr-footer,
.row
  float left
  clear both
  width 100%


.row
  margin-bottom $gutter-primary-lg + $gutter-primary


