<section class="row journalism">
  <h1 class="sr-only">Articles by Fiona Ross</h1>

  <div class="main-content align-center">
    <h3 class="page-heading heading-uppercase">Journalism by Fiona</h3>
    
    <div class="row">
      <div class="link-highlight-hover-border intro-copy">
        <p>As well as working as a Jazz artist, Fiona spends her time behind the scenes in Jazz and is a member of the <a href="http://news.jazzjournalists.org" target="_blank">Jazz Journalists Association</a>, <a href="https://bajunion.org.uk/" target="_blank">The British Association of Journalists</a>, and <a href="https://womeninjournalism.co.uk" target="_blank">womeninjournalism.co.uk</a></p>
 
        <p>Her journalism work has expanded in the last few years, writing for publications including <a href="http://www.kindofjazz.com" target="_blank">Kind of Jazz</a>, <a href="https://www.jazznorth.org" target="_blank">Jazz North</a>, <a href="http://www.thejazz.uk" target="_blank">The Jazz UK</a>, <a href="https://connectsmusic.com" target="_blank">Connects Music</a> and she was the guest editor in chief for the January 2021 edition of <a href="https://www.jazzquarterly.com" target="_blank">Jazz Quarterly</a>, where she was responsible for a rarely seen fully diverse and gender balanced Jazz publication.</p>
        
        <p>As senior writer for Jazz in Europe, Fiona has interviewed an impressive list of inspirational artists including Steve Gadd, Michel Camilo, Kyle Eastwood, Dee Dee Bridgewater, Maxine Gordon, Terri Lyne Carrington, Barbra Thompson OBE, Ruby Turner, Hiromi and Camille Thurman.</p>

        <p>As founder of the ground breaking organisation, <a href="http://womeninjazzmedia.com" target="_blank">Women in Jazz Media</a>, Fiona has developed many exciting initiatives including a mentoring scheme for new female writers, a free music promotional package for female artists, <a href="http://womeninjazzmedia.com/podcasts" target="_blank">podcast series</a> and an acclaimed <a href="http://womeninjazzmedia.com/podcasts" target="_blank">special edition International Women's Day magazine</a> allowing a platform for women working in Jazz across the world.</p>

        <p>Through Women in Jazz Media, Fiona collaborates with many official partners including the Jazz Times, Jazzwise, Jazz in Europe, Black Music Matters and Céline Peterson and Fiona's work with these partners has led to an increase in the gender and diversity balance in several publications. Fiona's interviews for Women in Jazz Media include Celine Peterson, Hiromi, Jordannah Elizabeth and Dr Tammy Kernodle.</p>

        <p>For reviews or interview requests please contact <a href="mailto:info@fionaross.co.uk">info@fionaross.co.uk</a></p>
      </div>

      <ul class="grid-layout-4-4 grid-col-hover">
        <li ng-repeat="article in vm.data"
            ng-class="{last: $last}"
            class="col-50-xs">
          <div class="inner">
            <img ng-src="{{article.image.cloudinaryUrl}}" alt="{{article.title}}" />
            <a ng-href="{{article.externalLink}}" target="_blank" class="hover-info">
              <div class="hover-info-inner">
                <p class="author">{{article.title}}</p>
                <p class="copy">{{article.copy}}</p>
                <p class="read-more">Read more</p>
              </div>
            </a>
          </div>
        </li>
      </ul>

      <div ng-if="vm.promiseLoading">
        <promise-loading></promise-loading>
      </div>

    </div>

    <div ng-if="!vm.promiseLoading" class="row button-view-nav">
        <a ui-sref="contact" class="button">
          <span>Contact</span>
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>

  </div>

</section>
