<section class="row journalism">
  <h1 class="sr-only">Articles by Fiona Ross</h1>

  <div class="main-content align-center">
    <h3 class="page-heading">Journalism by Fiona</h3>
    
    <div class="row">
      <div class="link-highlight-hover-border intro-copy">
        <p>As well as working as a Jazz artist, Fiona spends her time working as a Jazz journalist and supporting a number of organisations that actively support equality, diversity and inclusion. She is member of the <a href="http://news.jazzjournalists.org" target="_blank">Jazz Journalists Association</a>, <a href="http://bajunion.org.uk" target="_blank">The British Association of Journalists</a>, a senior writer for <a href="https://jazzineurope.mfmmedia.nl" target="_blank">Jazz in Europe</a>, with her own <a href="https://jazzineurope.mfmmedia.nl/category/fiona-ross-women-in-jazz/" target="_blank">Women in Jazz series</a>, as well as working for Jazz Quarterly and The Jazz UK. Interview highlights include Steve Gadd, Dee Dee Bridgewater, Maxine Gordon, Michel Camilo, Terri Lyne Carrington and Kyle Eastwood.</p>

        <p>For reviews or interview requests please contact <a href="mailto:info@fionaross.co.uk">info@fionaross.co.uk</a></p>
      </div>

      <ul class="grid-layout-4-4 grid-col-hover">
        <li ng-repeat="article in vm.data"
            ng-class="{last: $last}"
            class="col-50-xs">
          <div class="inner">
            <img ng-src="{{article.imageUrl}}" alt="{{article.title}}" />
            <a ng-href="{{article.externalLink}}" target="_blank" class="hover-info">
              <div class="hover-info-inner">
                <p class="author">{{article.title}}</p>
                <p class="copy">{{article.copy}}</p>
                <p class="read-more">Read more</p>
              </div>
            </a>
          </div>
        </li>
      </ul>

      <div ng-if="vm.promiseLoading">
        <promise-loading></promise-loading>
      </div>

    </div>

    <div ng-if="!vm.promiseLoading" class="row button-view-nav">
        <a ui-sref="contact" class="button">
          <span>Contact</span>
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>

  </div>

</section>
