<section class="row other-work">
  <h1 class="sr-only">Articles by Fiona Ross</h1>

  <div class="main-content align-center">
    <h3>Other Work by Fiona</h3>
    
    <div class="row">
      <div class="link-highlight-hover-border intro-copy">
        <p>As well as working as a Jazz artist, Fiona spends her time as a writer and supporting a number of companies and organisations. She is a senior writer for <a href="http://jazzineurope.mfmmedia.nl" target="_blank">Jazz in Europe</a> and creative writer for <a href="http://www.jazzquarterly.com" target="_blank">Jazz Quarterly</a>. Her articles are featured below.</p>
        <p>Fiona is also a member of the 
          <a href="http://news.jazzjournalists.org" target="_blank">
            Jazz Journalists Association
          </a>
          and <a href="http://bajunion.org.uk" target="_blank">The British Association of Journalists</a>.
        </p>

        <p class="link-with-badge">
          <a href="http://news.jazzjournalists.org" target="_blank">
            <img src="http://jazzjournalists.org//badges/Member-button.jpg" width="180" />
          </a>
          <a href="http://bajunion.org.uk" target="_blank">
            <img src="./images/other-work/baj.png" width="91" height="42" />
          </a>
        </p>
      </div>

      <ul class="grid-layout-4-4 grid-col-hover">
        <li ng-repeat="article in vm.data"
            ng-class="{last: $last}"
            class="col-50-xs">
          <div class="inner">
            <img ng-src="./images/other-work/{{article.thumbUrl}}" alt="{{article.title}} by Fiona Ross" />
            <a ng-href="{{article.href}}" target="_blank" class="hover-info">
              <div class="hover-info-inner">
                <p class="author">{{article.title}}</p>
                <p>{{article.copy}}</p>
                <p class="read-more">Read more</p>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="row link-highlight-hover-border intro-copy row-last">
      
      <p>Fiona is also very passionate about raising awareness and supporting Mental Health and Equality issues around the world. She actively supports and promotes the following:</p>
      <ul>
        <li>
          <a href="https://www.helpmusicians.org.uk" target="_blank">helpmusicians.org.uk</a>
        </li>
        <li>
          <a href="http://girlsthatgig.com" target="_blank">girlsthatgig.com</a>
        </li>
        <li>
          <a href="https://www.insomniacclub.co.uk" target="_blank">insomniacclub.co.uk</a>
        </li>
        <li>
          <a href="http://www.soundgirls.org" target="_blank">soundgirls.org</a>
        </li>
        <li>
          <a href="https://www.masato.co.uk/collections/masato-homeless-support" target="_blank">masato.co.uk/collections/masato-homeless-support</a>
        </li>
        <li>
          <a href="https://www.musicmindsmatter.org.uk" target="_blank">musicmindsmatter.org.uk</a>
        </li>
        <li>
          <a href="http://indiemusicwomen.com" target="_blank">indiemusicwomen.com</a>
        </li>
      </ul>
    </div>

    <div class="row button-view-nav">
        <a ui-sref="contact" class="button">
          <span>Contact</span>
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>

  </div>

</section>
