<section class="row press include-bg-img">

  <h1 class="sr-only">{{vm.album.name}} Press</h1>

  <div class="main-content align-center">

    <h3>{{vm.album.name}} Press</h3>

    <ul class="grid-layout-4-4 grid-col-hover">
      <li ng-repeat="pressRelease in vm.album.press"
          ng-class="{last: $last}"
          class="col-50-xs col-25-md">
          <div class="inner">
            <img ng-src="./images/press/{{pressRelease.thumbUrl}}" alt="{{pressRelease.author}} press release" />
            <a ng-href="{{pressRelease.href}}" target="_blank" class="hover-info">
              <p>{{pressRelease.copy}}</p>
              <p class="read-more">Read more</p>
            </a>
          </div>
      </li>
    </ul>

    <div class="row button-view-nav">
       <a ui-sref="music" class="button">
        <span>Music</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
