@import '../../styles/variables'

.press

  h3.page-heading
    padding-bottom $gutter-primary
    @media (min-width 1040px)
      padding-bottom 0

  .main-content
    margin 0 auto
    color $color-text-primary
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  .article
    padding $gutter-primary-lg
    &:nth-child(odd)
      clear both

    .inner
      background #2A2A2A
      text-align left
      > a
        display block
        padding $gutter-primary-lg

      .author
        color $color-highlight-primary
        margin-bottom 0
        text-transform uppercase
        letter-spacing 1px
        font-weight 300
        font-size 1em
        color $color-highlight-primary
        margin-bottom $gutter-primary

      h5
        font-size 1em

      .excerpt
        color #8D8D8D
        font-size .9em
        margin-bottom 0
