<section class="row press include-bg-img">

  <h1 class="sr-only">Fiona Ross Jazz Press</h1>

  <div class="main-content align-center">

    <div ng-if="vm.data && vm.data.length">
      <h3 class="page-heading">Press</h3>

      <ul>
        <li ng-repeat="article in vm.data" class="col-50-lg article">
          <div class="inner">
            <a ng-href="{{article.externalLink}}" target="_blank">
              <h4 class="author">{{article.author}}</h4>
              <h5>{{article.title}}</h5>
              <p class="excerpt">{{article.excerpt}}</p>
            </a>
          </div>
          
        </li>
      </ul>

    </div>

    <div ng-if="vm.promiseError">
      <promise-error></promise-error>
    </div>

    <div ng-if="vm.promiseLoading">
      <promise-loading></promise-loading>
    </div>

    <div ng-if="!vm.promiseLoading" class="row button-view-nav">
      <a ui-sref="gigs" class="button">
        <span>Gigs</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>

</section>
