@import '../../styles/variables'

.signup-form
  padding $gutter-primary $gutter-primary-lg
  padding-top $gutter-primary-lg
  p
    margin-bottom $gutter-primary
    color $color-text-tertiary
    color $color-white
    opacity .5
    font-size .85em
    letter-spacing 1px
    font-weight 300
    @media (min-width:$bp-sm)
      text-align left

  form
    display flex
    justify-content flex-start
    flex-direction column
    flex-direction row
    width 100%
    max-width 450px
    @media (min-width:$bp-xs)
      min-width 295px
    @media (min-width:$bp-sm)
      max-width 370px
      margin 0

  .mchimp-form
    display flex

  input
    text-align left
    width 60%
    border-right 0
    background $color-bg-primary
    &:focus
      border-color #3A3A3A

  input::-webkit-input-placeholder
    color $color-text-secondary

  input:-moz-placeholder
    color $color-text-secondary

  input::-moz-placeholder
    color $color-text-secondary

  input:-ms-input-placeholder
    color $color-text-secondary

  .button
    width auto
    margin-bottom 0
    border solid 1px #3A3A3A
    border-radius 0
    color $color-white
    border-left 0
    font-size 1em
    letter-spacing 1px
