@import '../../styles/variables'

.signup-form 
  p
    margin-bottom $gutter-primary
    text-align center
    @media (min-width:$bp-md)
      text-align left

  form
    display flex
    justify-content flex-start
    flex-direction column
    margin 0 auto
    flex-direction row
    max-width 330px
    @media (min-width:$bp-md)
      max-width 370px
      margin 0 

  input
    text-align left
    width 70%
    border-right 0 
    &:focus
      border-color #3A3A3A

  input::-webkit-input-placeholder
    color $color-text-tertiary
  
  input:-moz-placeholder
    color $color-text-tertiary
  
  input::-moz-placeholder
    color $color-text-tertiary

  input:-ms-input-placeholder
    color $color-text-tertiary


  button
    width auto
    margin-bottom 0
    border solid 1px #3A3A3A
    border-left 0
    
