<section class="row videos-page include-bg-img">
  <h1 class="sr-only">Fiona Ross Videos</h1>

  <div class="main-content">

    <h3 class="page-heading">Videos</h3>

    <!-- temp structure - data currently undecided -->

    <ul>
      <!-- videos that are not in news data -->

      <li>
        <h4>New album 'Fierce and Non-Compliant' OUT NOW</h4>
        <iframe src="https://player.vimeo.com/video/391690160?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </li>

      <li>
        <h4>Black, White and a Little Bit of Grey</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/aKabn55Lm1E?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>

      <li>
        <h4>Busy..... Always Busy</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/YEsyonWX_KA?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>

      <li>
        <h4>I Don't Want To Play</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/i33VaIFZFSE?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>

      <li>
        <h4>'Mistress' teaser</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/Ud5CGjHk1aM?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      
      <li>
        <h4>'The Evidence Suggests' teaser</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/kou3hfu6608?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      
      <li>
        <h4>Behind the scenes - recording vocal in a stairwell</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/9ox5CMrqxtw?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      
      <li>
        <h4>Behind the scenes - mastering new album</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/rVBZQ30DTSo?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      
      <li>
        <h4>Audience footage from Nells Jazz and Blues</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/A1krznXTGVE?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      
      <li>
        <h4>Audience footage from London Jazz Platform Set</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/QMvG1FdSWSQ?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>

      <!-- videos from data -->
      <li ng-repeat="post in vm.data" ng-class="{last: $last}">
        <div ng-if="post.videoEmbed">
          <h4>{{post.title}}</h4>
          <div class="video-wrapper video-wrapper-small">
            <iframe width="560" ng-src="{{vm.trustSrc(post.videoEmbed)}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </li>

      <!-- videos that are not in news data -->
      <li>
        <h4>Behind the scenes</h4>
        <div class="video-wrapper video-wrapper-small">
          <iframe width="560" src="https://www.youtube.com/embed/PzOWVOAEOX0?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
    </ul>
  </div>

  <div class="row button-view-nav">
    <a ui-sref="about" class="button">
      <span>About Fiona</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>
