<section class="row videos-page include-bg-img">
  <h1 class="sr-only">Fiona Ross Videos</h1>

  <div class="main-content">

    <h3 class="page-heading">Videos</h3>

    <ul>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KUM80lxLYbw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/L3NujuQCuRY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/y1wz17Aic48" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_DH2YEgteSc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dNknAbmIuVo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/H4GlzzosUuE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VzKVif8ZGsM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LLlcevxHU4s?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aKabn55Lm1E?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YEsyonWX_KA?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i33VaIFZFSE?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ud5CGjHk1aM?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>
      
      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kou3hfu6608?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>
      
      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9ox5CMrqxtw?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>
      
      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rVBZQ30DTSo?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>
      
      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A1krznXTGVE?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>
      
      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QMvG1FdSWSQ?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>

      <!-- videos from data
      <li ng-repeat="post in vm.data" ng-class="{last: $last}">
        <div ng-if="post.videoEmbed">
          <iframe width="560" height="315" ng-src="{{vm.trustSrc(post.videoEmbed)}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
       -->

      <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PzOWVOAEOX0?rel=0&amp;fs=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </li>
    </ul>

  </div>

  <div class="row button-view-nav">
    <a ui-sref="about" class="button">
      <span>About Fiona</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>
