@import '../../styles/variables'

.about

  .main-content
    max-width $section-max-width
    margin 0 auto
    @media (min-width $bp-md)
      font-size 1.1em

    p
      span.quote,
      span.highlight
        color $color-highlight-primary

      span.quote
        font-style italic

    blockquote
      &.extra-margin-bottom
        margin 0 auto $gutter-primary-lg auto
      &.first
        max-width 880px
        .copy
          width 65%
          @media (min-width $bp-sm)
            width 55%
        small
          clear both
          display block
          opacity 0.6
          @media (min-width $bp-xs)
            clear none
            display inline-block
          .dash
            padding 0 0.5em
