<section class="row about long-copy-line-height include-bg-img">
  <h1 class="sr-only">About Fiona Ross</h1>

  <img src="./images/about/bg.png" class="img-bg" alt="About Fiona Ross" />

  <div class="main-content">

    <blockquote class="first extra-margin-bottom">
      <span class="quote">&ldquo;</span>
      <span class="copy">It’s just me doing my thing <small><small> <span class="dash">-</span> Fiona Ross</small></small></span>
      <span class="quote">&rdquo;</span>
    </blockquote>

    <p>Fast becoming known as creating a new contemporary Jazz sound using fast paced Latin Jazz, a hint of vintage jazz club and at times a soul crossover feel with <i>"distinctive vocal prowess who has the ability to knock an audience sideways"</i>,&nbsp;London Jazz Artist Fiona Ross – <i class="highlight">"The Jazz artist that gave Ed Sheeran his 'first push' - Daily Express"</i> – has received rave reviews for both her recent album <i class="highlight">"Black, White and a Little Bit of Grey"</i>&nbsp;and recent performances including the London Jazz Platform event, Nell's Jazz and Blues, The Pheasantry and Toulouse Lautrec. As Head of the British Academy of New Music, Fiona was responsible for the training of the likes of Ed Sheeran, Rita Ora and Jess Glynne, to name just a few, but now, it is her turn.</p>

    <p>There has rarely been a day since then for Fiona that has not centered around music. <span class="highlight">Enrolled in dance, drama and singing lessons at the age of two, piano at age six. </span>At what moment did Fiona make a conscious choice to pursue a career in music? There wasn't a moment. There was never a time when there was any other choice. By the age of eight years old Fiona was starring in London's West End. Talent like Fiona's doesn't go unnoticed; soon she was signed to an agency and was featured in a string of television commercials and print advertisements and was recording radio jingles for everything from ketchup to Fairy dishwashing soap.</p>

    <p>At the age of fourteen she lied about her age and talked her way into gigging on weekends in jazz clubs throughout London, from the classy nightspots of the elite to some <span class="highlight">rather seedy pubs that were no place for an ordinary teenager. </span>There were never any contracts to sign, it was always cash in hand at the end of the night. No one even suspected that a voice that startling in its maturity and passion could belong to a singer barely into her teens. <span class="quote">"I will never forget going home to my parents," </span>&nbsp;Fiona says;

    <blockquote class="extra-margin-bottom">
      <span class="quote">&ldquo;</span>
      <span class="copy">Telling them that I had a job singing and playing Jazz as a solo artist in a club in London, I was so thrilled, but they were furious - well, I was only 14 at the time.</span>
      <span class="quote">&rdquo;</span>
    </blockquote>

    <p>Fiona attended the prestigious Arts Educational School (the English equivalent of New York's High School for Performing Arts) where Julie Andrews, Catherine Zeta Jones and Will Young, to name just a few, also trained. Fiona's career has taken her all over the musical map. She has worked as a musical director, session musician, composer, choreographer, director, dancer, actor, model -   She even sang back-up for a rock and roll band called Rocking Willie and the Y-Fronts when she was 15.</p>

    <p>Alongside this, <span class="highlight">educating young people has been Fiona’s passion </span>and she was Head of British Academy of New Music, London, for nearly nine years, where she was responsible for the training of Ed Sheeran, Rita Ora and Jess Glynne, to name a few. But now, it is Fiona’s turn.</p>

    <div class="central-quotes">
      <blockquote class="first">
        <span class="quote">&ldquo;</span>
        <span class="copy">Her style Is poetic and the message is ooze with millennial angst</span>
        <span class="quote">&rdquo;</span>
      </blockquote>
      <span class="author">Jazz Weekly</span>

      <blockquote class="last">
        <span class="quote">&ldquo;</span>
        <span class="copy">Jazz artist extraordinaire</span>
        <span class="quote">&rdquo;</span>
      </blockquote>
      <span class="author">Indie Music Women</span>
    </div>

    <br />
    <br />

    <div class="row link-highlight-hover-border intro-copy row-last">
      
      <p>Fiona is very passionate about raising awareness and supporting Mental Health and Equality issues around the world. She actively supports and promotes the following:</p>
      <ul class="align-center">
        <li>
          <a href="https://www.helpmusicians.org.uk" target="_blank">helpmusicians.org.uk</a>
        </li>
        <li>
          <a href="http://girlsthatgig.com" target="_blank">girlsthatgig.com</a>
        </li>
        <li>
          <a href="https://www.insomniacclub.co.uk" target="_blank">insomniacclub.co.uk</a>
        </li>
        <li>
          <a href="http://www.soundgirls.org" target="_blank">soundgirls.org</a>
        </li>
        <li>
          <a href="https://www.masato.co.uk/collections/masato-homeless-support" target="_blank">masato.co.uk/collections/masato-homeless-support</a>
        </li>
        <li>
          <a href="https://www.musicmindsmatter.org.uk" target="_blank">musicmindsmatter.org.uk</a>
        </li>
        <li>
          <a href="http://indiemusicwomen.com" target="_blank">indiemusicwomen.com</a>
        </li>
      </ul>
    </div>
    
    <br />
    <br />

    <div class="member-of-list">
      <p class="align-center">Fiona is also a member of:</p>
      <ul>
        <li>
          <a href="https://www.prsformusic.com" target="_blank">
            <img src="./images/about/prs.png" alt="PRS for Music" />
          </a>
        </li>
        <li>
          <a href="https://www.mpg.org.uk" target="_blank">
            <img src="./images/about/mpg.png" alt="The Music Producers Guild" />
          </a>
        </li>
        <li>
          <a href="https://basca.org.uk" target="_blank">
            <img src="./images/about/basca.png" alt="BASCA - British Academy of Songwriters, Composers & Authors" />
          </a>
        </li>
        <li>
          <a href="http://www.ppluk.com" target="_blank">
            <img src="./images/about/ppl.png" alt="PPL - PPL licenses recorded music played in public" />
          </a>
        </li>
        <li>
          <a href="https://www.insomniacclub.co.uk" target="_blank">
            <img src="./images/about/insomniac.png" alt="Insomniac Club" />
          </a>
        </li>
      </ul>

    <div class="central-quotes">
      <blockquote>
        <span class="quote">&ldquo;</span>
        <span class="copy">It is my pleasure and privilege to join the Insomniac Club Team as their patron. I am hugely passionate about raising
        awareness of mental health and more importantly creative strategies and support mechhanisms to truly help and make a difference. As an educator and someone who has worked in the creative industry all my life, I have seen many
        people struggle with their mental health and just not knowing what to do and who to turn to. The Insomniac Club are
        starting to make a difference through creating and promoting a variety of ways to support and also stimulate our
        thinking about how we
        can truly help. Raising awareness is one step, actions are the next one and I am very excited to be part of this.</span>
        <span class="quote">&rdquo;</span>
      </blockquote>
      <span class="author">Fiona Ross</span>
    </div>
     
  </div>

  <br/>

  <div class="row button-view-nav">
    <a ui-sref="gallery" class="button">
      <span>Gallery</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>
