@import '../../styles/variables'

.about

  .main-content
    max-width $section-max-width
    margin 0 auto
    @media (min-width $bp-md)
      font-size 1.1em

    p
      span.quote,
      span.highlight,
      i.highlight
        color $color-highlight-primary

      span.highlight-2
      i.highlight-2
        color #939393

      span.quote
        font-style italic

    blockquote
      @media (min-width $bp-lg)
        font-size 1.3em
      &.extra-margin-bottom
        margin 0 auto $gutter-primary-lg auto
      &.first
        max-width 880px
        .copy
          width 65%
          @media (min-width $bp-sm)
            width 55%
        small
          clear both
          display block
          opacity 0.6
          @media (min-width $bp-xs)
            clear none
            display inline-block
          .dash
            padding 0 0.5em

  .member-of-list li
    margin-bottom $gutter-primary-lg
    a
      color $color-highlight-primary
      opacity 1
