<section class="row about long-copy-line-height include-bg-img">
  <h1 class="sr-only">About Fiona Ross</h1>

  <img src="./images/about/bg.png" class="img-bg" alt="About Fiona Ross" />

  <div class="main-content">

    <blockquote class="first extra-margin-bottom">
      <span class="quote">&ldquo;</span>
      <span class="copy">It’s just me doing my thing <small><small> <span class="dash">-</span> Fiona Ross</small></small></span>
      <span class="quote">&rdquo;</span>
    </blockquote>

    <p>Fiona’s second studio album arrives with a mastery and skill that only comes from years of training and honing in on her vocal and musical gifts and experience of life. A double album that demonstrates her immense songwriting skills through simple acoustic tracks to full Latin Jazz full band songs that you won’t forget.</p>

    <p>There has rarely been a day since then for Fiona that has not centered around music. <span class="highlight">Enrolled in dance, drama and singing lessons at the age of two, piano at age six. </span>At what moment did Fiona make a conscious choice to pursue a career in music? There wasn't a moment. There was never a time when there was any other choice. By the age of eight years old Fiona was starring in London's West End. Talent like Fiona's doesn't go unnoticed; soon she was signed to an agency and was featured in a string of television commercials and print advertisements and was recording radio jingles for everything from ketchup to Fairy dishwashing soap.</p>

    <p>At the age of fourteen she lied about her age and talked her way into gigging on weekends in jazz clubs throughout London, from the classy nightspots of the elite to some <span class="highlight">rather seedy pubs that were no place for an ordinary teenager. </span>There were never any contracts to sign, it was always cash in hand at the end of the night. No one even suspected that a voice that startling in its maturity and passion could belong to a singer barely into her teens. <span class="quote">"I will never forget going home to my parents," </span> Fiona says;

    <blockquote class="extra-margin-bottom">
      <span class="quote">&ldquo;</span>
      <span class="copy">Telling them that I had a job singing and playing Jazz as a solo artist in a club in London, I was so thrilled, but they were furious - well, I was only 14 at the time.</span>
      <span class="quote">&rdquo;</span>
    </blockquote>

    <p>Fiona attended the prestigious Arts Educational School (the English equivalent of New York's High School for Performing Arts) where Julie Andrews, Catherine Zeta Jones and Will Young, to name just a few, also trained. Fiona's career has taken her all over the musical map. She has worked as a musical director, session musician, composer, choreographer, director, dancer, actor, model -   She even sang back-up for a rock and roll band called Rocking Willie and the Y-Fronts when she was 15.</p>

    <p>Alongside this, <span class="highlight">educating young people has been Fiona’s passion </span>and she was Head of British Academy of New Music, London, for nearly nine years, where she was responsible for the training of Ed Sheeran, Rita Ora and Jess Glynne, to name a few. But now, it is Fiona’s turn.</p>

    <blockquote>
      <span class="quote">&ldquo;</span>
      <span class="copy">She is indispensable in the world of jazz, you just don’t know it yet.</span>
      <span class="quote">&rdquo;</span>
    </blockquote>





  </div>

  <div class="row button-view-nav">
    <a ui-sref="gallery" class="button">
      <span>Gallery</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>

</section>
