@import '../../styles/variables'

.news-home
  .main-content
    max-width $section-max-width
    margin 0 auto
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

  li
    margin-bottom $gutter-primary-lg
    padding-bottom $gutter-primary-lg
    @media (min-width $bp-md)
      margin-bottom $gutter-primary-x-lg
      padding-bottom $gutter-primary-x-lg
    &.last
      padding-bottom 0
      margin-bottom 0
      border-bottom 0 none

    .img-wrap
      position relative
      margin-bottom $gutter-primary-lg
      @media (min-width $bp-md)
        max-height 300px
        overflow hidden

    img
      width 100%
      opacity .8

    .social-share
      width 100%
      background $tabbed-content-bg-desktop
      @media (min-width $bp-md)
        z-index 2
        position absolute
        bottom 0
        left 0
        text-align right
      ul,
      p
        @media (min-width $bp-md)
          display inline-block

      ul > li
        padding 0
      li,
      p
        margin-bottom 0

      li
        display inline-block
        a
          padding $gutter-primary
          opacity .5
          transition all .3s ease
          cursor pointer
          &:hover,
          &:focus
            opacity 1
        &.first a
          padding-left 0
      p
        padding $gutter-primary
        padding-left 0
        margin-top 4px
        opacity .5

    .copy
      width 100%
      padding $gutter-primary
      padding-bottom $gutter-primary-lg
      @media (min-width $bp-md)
        position absolute
        z-index 2
        bottom 0
        left 0
        right 0

    h2
      font-weight 300
      color $color-highlight-primary
      small
        font-size 65%
        color $color-text-primary
        margin-left 0.5em
        border-bottom solid 1px transparent
        transition all 1s ease
        margin-top -1px

    p
      margin-bottom 0
