<section class="row news-home long-copy-line-height">
  <div class="main-content">

    <ul>
      <li ng-repeat="post in vm.data" ng-class="{last: $last}">
        <h2>{{post.title}}</h2>

        <div class="img-wrap">
          <img ng-src="{{post.images.thumb}}" alt="{{post.title}}" />
          <div class="social-share">
            <p>Share on</p>
            <ul>
              <li class="first">
                <a href="#"
                   socialshare
                   socialshare-provider="facebook"
                   socialshare-title="{{vm.data.title}}"
                   socialshare-hashtags="test, temp"
                   socialshare-media="http://todo:addurl">
                   <i class="icon-s-f"></i>
                   <span>Facebook</span>
                </a>
              </li>
              <li class="last">
                <a href="#"
                   socialshare
                   socialshare-provider="twitter"
                   socialshare-text="{{vm.data.title}}"
                   socialshare-hashtags="test, temp"
                   socialshare-url="http://todo:addurl">
                   <i class="icon-s-t"></i>
                   <span>Twitter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div ng-bind-html="post.body" class="body-content"></div>
      </li>
    </ul>

  </div>
</section>