<section class="row news-home">
  <div class="main-content">

    <ul>
      <li ng-repeat="post in vm.data" ng-class="{last: $last}">
        <div class="inner">
          <a ui-sref="newsInd({title: post.urlTitle, id: post.id})">
            <img ng-src="{{post.images.thumb}}" alt="{{post.title}}" />
            <div class="copy">
              <h2>{{post.title}} <small>read more</small></h2>
              <p>{{post.bodyShort}}</p>
            </div>
          </a>
        </div>
      </li>
    </ul>

    <br/>
    <br/>
    <br/>
    <br/>

    <ul class="temp-alt-layout">
      <li ng-repeat="post in vm.data" ng-class="{last: $last}">
        <div class="inner">
          <h2>{{post.title}}</h2>
          <img ng-src="{{post.images.thumb}}" alt="{{post.title}}" />
          <div ng-bind-html="post.body" class="body-content"></div>
        </div>
      </li>
    </ul>

  </div>
</section>