<section class="row news-home long-copy-line-height" ng-class="{'promise-error': vm.promiseError}">
  <div class="main-content">

    <div ng-if="vm.data && vm.data.length">
      <h2 class="sr-only">Fiona Ross News</h2>

      <ul class="articles">
        <li ng-repeat="post in vm.data" ng-class="{last: $last}">
          <h3>{{post.title}}</h3>

          <div class="row cancel-margin">

            <div ng-if="!post.ticketsLink && post.mainImage && !post.miniGalleryImages.length ||
                        !post.ticketsLink && post.mainImage.url && !post.miniGalleryImages.length">

              <div ng-class="{'col-50': post.secondaryImageUrl}">
                <div ng-if="post.mainImage && post.mainImage.url && !post.mainImage.externalLink"
                    class="img-wrap">
                  <img ng-src="{{post.mainImage.url}}" alt="Fiona Ross | {{post.title}}" />
                </div>

                <div ng-if="post.mainImage && post.mainImage.url && post.mainImage.externalLink"
                      class="img-wrap">
                  <a href="{{post.mainImage.externalLink}}" target="_blank">
                    <img ng-src="{{post.mainImage.url}}" alt="Fiona Ross | {{post.title}}" />
                  </a>
                </div>
              </div>

              <div ng-if="post.secondaryImageUrl"
                  ng-class="{'col-50': post.secondaryImageUrl}">
                <img ng-src="{{post.secondaryImageUrl}}" alt="Fiona Ross | {{post.title}}" />
              </div>

            </div>
          </div>

          <ul ng-if="post.sections">
            <li ng-repeat="section in post.sections"
                ng-class="{
                  'article-section-with-single-image': vm.articleSectionsHaveOnlyOneImage(post.sections),
                  last: $last,
                  first: $first
                }"
                class="article-section"
            >

              <div ng-class="{'col-copy': section.images.length === 1}">
                <div ng-bind-html="section.copy" class="body-content link-highlight-hover-border"></div>
              </div>

              <div ng-if="section.videoEmbed">
                <div ng-bind-html="section.videoEmbed | unsafe"></div>
              </div>

              <div ng-if="section.images" ng-class="{'col-images': section.images.length === 1, 'col-images col-images-multiple': section.images.length > 1}">
                <ul>
                  <li ng-repeat="image in section.images" class="col-img">
                    <img ng-src="{{image.url}}" alt="Fiona Ross | {{image.imgAlt}}"/>
                  </li>
                </ul>
              </div>

            </li>
          </ul>

          <div ng-if="!post.sections">
            <small class="date">{{post.createdAt | date:'dd MMM yyyy'}}</small>

            <div ng-bind-html="post.bodyMain" class="body-content link-highlight-hover-border"></div>

            <a ng-if="post.ticketsLink" 
              href="{{post.ticketsLink}}" 
              target="_blank" 
              class="button">Get tickets</a>

            <div class="link-highlight-hover-border venue-link">
              <a ng-if="post.venueLink" 
                href="{{post.venueLink}}" 
                target="_blank">Venue</a>
            </div>

            <div ng-if="post.ticketsLink && post.mainImage && post.mainImage.url && !post.miniGalleryImages.length">

              <div class="col-70 max-width-650">

                  <div ng-if="post.mainImage && post.mainImage.url && !post.mainImage.externalLink" class="img-wrap">
                    <img ng-src="{{post.mainImage.url}}" alt="Fiona Ross | {{post.title}}" />
                  </div>

                  <div ng-if="post.mainImage && post.mainImage.url && post.mainImage.externalLink" class="img-wrap">
                    <a href="{{post.mainImage.externalLink}}" target="_blank">
                      <img ng-src="{{post.mainImage.url}}" alt="Fiona Ross | {{post.title}}" />
                    </a>
                  </div>

              </div>

              <div class="col-30">

                <a ng-if="post.ticketsLink"
                  href="{{post.ticketsLink}}"
                  target="_blank"
                  class="button">Get tickets</a>
                <div class="link-highlight-hover-border">
                  <a ng-if="post.venueLink"
                    href="{{post.venueLink}}"
                    target="_blank"
                    class="venue-link">Venue</a>
                </div>

              </div>

            </div>

            <div class="row cancel-margin">

              <ul ng-if="post.quotes" class="quotes">
                <li ng-repeat="quote in post.quotes">
                  &quot;{{quote.copy}}&quot;<span class="news-quote-author">&nbsp;-&nbsp;{{quote.author}}</span>
                </li>
              </ul>

              <a ng-if="post.ticketsLink && !post.mainImage.url"
                  href="{{post.ticketsLink}}"
                  target="_blank"
                  class="button">Get tickets</a>

            </div>

            <div ng-if="post.videoEmbed" class="video-wrapper">
              <iframe width="560" ng-src="{{vm.trustSrc(post.videoEmbed)}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div ng-if="post.videoEmbedLondonLive" class="video-wrapper">
              <iframe width="620" height="348" src="http://www.londonlive.co.uk/embed/news/2018-03-27/celebrity-music-trainer-is-now-releasing-her-own-music" frameborder="0" allowfullscreen></iframe>
            </div>

            <div ng-if="post.galleryImages">
              <ul>
                <li ng-repeat="image in post.galleryImages" class="post-gallery-image">
                  <a ng-click="vm.openLightboxModal(post.galleryImages, $index)">
                    <img ng-src="./images/{{image.thumbUrl}}" alt="Fiona Ross | {{post.title}}" />
                  </a>
                </li>
              </ul>
            </div>

          </div>

        </li>
      </ul>
    </div>

    <div ng-if="vm.promiseError">
      <promise-error></promise-error>
    </div>

    <div class="row button-view-nav">
      <a ui-sref="videos" class="button">
        <span>Videos</span>
        <i class="icon-arrow-right"></i>
      </a>
    </div>

  </div>
</section>
