@import '../../styles/variables'

.error
  margin 0 auto
  max-width $section-max-width-mini
  @media (min-width: $bp-md)
    float none !important
    padding-top $gutter-primary-xx-lg

  .font-size-h1
    color $color-heading-primary
    margin-bottom $gutter-primary
  .button
    float left
    width auto
    margin-top $gutter-primary
