<section class="row contact col-80-md">

  <form name="contactForm" ng-submit="submitForm()" ng-hide="vm.messages.success" novalidate>
    <div class="col-60-md">
      <div class="row" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
        <div class="col-60-md">
          <label for="name" class="sr-only">Name</label>
          <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Name" required>
        </div>
        <div class="col-40-md">
          <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="error">Name is required</p>
        </div>
      </div>

      <div class="row" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine || contactForm.email.$dirty && !user.email}">
        <div class="col-60-md">
          <label for="email" class="sr-only">Email</label>
          <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email">
        </div>
        <div class="col-40-md">
          <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="error">Invalid email</p>
          <p ng-show="contactForm.email.$dirty && !user.email && contactForm.email.$valid" class="error">Email is required</p>
        </div>
      </div>
    </div>

    <div class="row" ng-class="{ 'has-error' : contactForm.message.$dirty && !user.message.length}">
      <div class="col-60-md">
        <label for="message" class="sr-only">Message</label>
        <textarea ng-model="user.message"
                  name="message"
                  placeholder="Message"
                  rows="4">
        </textarea>
      </div>
      <div class="col-40-md">
        <p ng-show="contactForm.message.$dirty && !user.message.length" class="error">Please enter a message</p>
      </div>
    </div>

    <div class="row" ng-show="vm.messages.error">
      <div class="col-60-md">
        <p class="submit-error error"><i class="icon-cross"></i>Sorry, something is wrong. Please try again or email <a href="mailto:fiona@fionaross.co.uk?subject=Fiona Ross - Bookings and enquiries">fiona@fionaross.co.uk</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-60-md">
        <button class="button-lg"
                ng-click="vm.sendMail(user)"
                value="Send email"
                ng-disabled="contactForm.$pristine ||
                             contactForm.name.$invalid ||
                             !user.name ||
                             contactForm.email.$invalid ||
                             !user.email ||
                             contactForm.message.$invalid ||
                             !user.message"
                ng-class="{loading: vm.messages.promiseLoading}">
                             <div ng-show="vm.messages.promiseLoading" class="loader"></div>
                             <span ng-hide="vm.messages.promiseLoading">Send</span>
                             <span ng-show="vm.messages.promiseLoading">Sending</span> email
        </button>
      </div>
    </div>
  </form>

  <div ng-show="vm.messages.success" class="contact-success">
      <p class="success">
        <span class="row"><i class="icon-tick"></i>Thanks! </span>
        <span class="row">Your enquiry has been successfully sent.</span>
      </p>
  </div>

</section>