<section class="row contact include-bg-img">
  <h1 class="sr-only">Contact Fiona Ross</h1>

  <img src="./images/contact/bg.png" class="img-bg" alt="Fiona Ross contact" />

  <div class="main-content">

    <h3 class="page-heading">Contact</h3>

    <div class="row">
      <h4 class="heading-uppercase">Email updates</h4>
      <div class="contact-signup-form-container">
        <signup-form></signup-form>
      </div>
    </div>

    <div class="row">
      <h4 class="heading-uppercase">Bookings</h4>
      <div class="row link-highlight-hover link-highlight-hover-border">
        <div class="row link-highlight-hover">
          <i class="icon-link"></i>
          <a href="mailto:info@fionaross.co.uk">info@fionaross.co.uk</a>
        </div>

      </div>
    </div>

    <div class="row">
      <h4 class="heading-uppercase">Media and Public Relations</h4>
      <div class="row">
        <span class="title">Canada - <span class="title-sub">Eric Alper</span></span>

        <div class="row link-highlight-hover link-highlight-hover-border">
          <i class="icon-link"></i>
          <a href="mailto:eric@thatericalper.com">eric@thatericalper.com</a>
        </div>
      </div>

      <div class="row">
        <span class="title">UK &amp; Europe - <span class="title-sub">Pete Bassett</span></span>

        <div class="row link-highlight-hover link-highlight-hover-border">
          <i class="icon-link"></i>
          <a href="mailto:pete@quitegreat.co.uk">pete@quitegreat.co.uk</a>

          <div class="row link-highlight-hover link-highlight-hover-border">
            <i class="icon-link"></i>
            <a href="http://www.quitegreat.co.uk" target="_blank">http://quitegreat.co.uk</a>
          </div>

        </div>

      </div>
    </div>

  </div>

</section>
