@import '../../common'

.contact

  .row
    margin-bottom $gutter-primary-lg + $gutter-primary
    > div
      padding-right $gutter-primary-lg

  .error
    float left
    padding $gutter-primary-lg
    padding $gutter-primary-lg
    padding-bottom 0
    @media screen and (min-width: $bp-md)
      padding-bottom $gutter-primary-lg

    margin 0
    color $color-red

  .has-error
    float left
    input,
    textarea
      border-color $color-red

.contact-success

  .row
    display block
  .sub
    display block
    clear both