@import '../../common'

.contact
  margin 0 auto
  @media screen and (min-width: $bp-md)
    float none !important

  .main-content
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

  .contact-form > .row
    margin-top $gutter-primary-lg
    margin-bottom 0
    &:first-child
      margin-top 0

    .row > .row
      margin-bottom 0

  .row-error
    margin 0

  .row-textarea
    margin-top 0 !important
    > .row:first-child
      margin-bottom 0

  .error
    float left
    padding $gutter-primary
    padding-bottom 0
    @media screen and (min-width: $bp-md)
      padding-bottom $gutter-primary

    margin 0
    color $color-red

  .has-error
    float left
    input,
    textarea
      border-color $color-red

  .submit-error
    width 100%
    padding $gutter-primary
    background $color-red
    color $color-highlight-primary
    line-height 1.6em
    a
      color $color-highlight-primary
      text-decoration underline
      &:hover,
      &:focus
        text-decoration none

  button
    position relative

    .loader
      position absolute
      top 1.8em
      left $button-spacing-lg-horizontal

.contact-success

  .font-size-h1
    color $color-heading-primary
    margin-bottom $gutter-primary
