@import '../../styles/variables'

.contact
  margin 0 auto
  float none !important
  width 100% !important
  padding-right 0
  padding-left 0
  max-width 500px
  @media (min-width $bp-md)
    max-width 800px
    padding-right $gutter-primary
    padding-left $gutter-primary

  .main-content
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg

  .col-left
    @media (min-width $bp-md)
      padding-right $gutter-primary-x-lg

  .col-right
    @media (min-width $bp-md)
      padding-left $gutter-primary-x-lg

  .card
    float left
    width 100%
    background $card-bg-mobile
    margin-bottom $gutter-primary-x-lg
    @media (min-width $bp-sm)
      padding 0
    @media (min-width $bp-md)
      padding $gutter-primary-lg
      background $card-bg-desktop

    .content
      float left
      width 100%
      padding $gutter-primary
      padding-bottom $gutter-primary-lg
      @media (min-width $bp-md)
        padding 0
        opacity 0.5
        transition all 0.3s ease
        &:hover
          opacity 1
    .row
      margin-bottom 0
      padding-bottom $gutter-primary
      &:last-child
        padding-bottom 0

    h4
      background $card-heading-bg-mobile
      color $color-highlight-primary
      border-bottom $tabbed-content-heading-border
      text-transform uppercase
      padding $gutter-primary
      font-weight 300
      @media (min-width $bp-md)
        background none
        border-bottom 0
        text-transform none
        padding 0
    p
      margin-bottom 0

    .title
      display block
      padding-bottom $gutter-primary

    i
      margin-right $gutter-primary

  .contact-form > .row
    margin-top $row-margin-bottom
    margin-bottom 0
    &:first-child
      margin-top 0

    .row > .row
      margin-bottom 0

  .row-error
    margin 0

  .row-textarea
    margin-top 0 !important
    > .row:first-child
      margin-bottom 0

  .error
    float left
    padding $gutter-primary
    padding-bottom 0
    @media (min-width: $bp-md)
      padding-bottom $gutter-primary

    margin 0
    color $color-red

  .has-error
    float left
    input,
    textarea
      border-color $color-red

  .submit-error
    width 100%
    padding $gutter-primary
    background $color-red
    color $color-highlight-primary
    line-height 1.6em
    a
      color $color-highlight-primary
      text-decoration underline
      &:hover,
      &:focus
        text-decoration none

  button
    position relative

    .loader
      position absolute
      top 1.8em
      left $button-spacing-lg-horizontal

.contact-success

  .font-size-h1
    color $color-heading-primary
    margin-bottom $gutter-primary
