@import '../../styles/variables';

.collaborator-ind

  .main-content
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

  .col-left
    max-width 250px
    @media screen and (min-width: $bp-sm)
      float left
      margin-right $gutter-primary-x-lg
      margin-bottom $gutter-primary-lg
    @media screen and (min-width: $bp-lg)
      margin-right 0
      margin-bottom 0
    img
      width 100%

  .col-right
    clear both
    @media screen and (min-width: $bp-sm)
      clear none
    @media screen and (min-width: $bp-md)
      padding-left 287.5px

  h3,
  h5
    margin-bottom 0.15em
    color $color-highlight-primary

  i
    background-color $color-bg-secondary
    margin-right 0.55em

  li
    margin-bottom $gutter-primary
    li
      margin-bottom 0

  .about,
  .urls
    margin-top $gutter-primary-lg
    @media screen and (min-width: $bp-sm)
      margin-top $gutter-primary-x-lg

  .collab-on
    color $color-highlight-primary
    margin-top $gutter-primary-lg
    @media screen and (min-width: $bp-sm)
      margin-top $gutter-primary-lg
    li
      font-style italic

  .urls
    clear both
    width 100%
    display inline-block
    min-height 1px
    @media screen and (min-width: $bp-md)
      clear right
    > ul > li
      float left
      margin-right $gutter-primary-lg

  .button-view-nav
    clear right
    a
      width auto

