@import '../../styles/variables';

.collaborator-ind

  .col-left
    max-width 250px
    @media screen and (min-width: $bp-sm)
      float left
      margin-right $gutter-primary-x-lg
      margin-bottom $gutter-primary-lg
    @media screen and (min-width: $bp-lg)
      margin-right 0
      margin-bottom 0
    img
      width 100%

  .main-content
    clear both
    @media screen and (min-width: $bp-sm)
      clear none
    @media screen and (min-width: $bp-md)
      padding-left 287.5px

  h4,
  h5
    margin-bottom 0.15em
    color $color-highlight-primary
  i
    background-color $color-bg-secondary
    margin-right 0.55em

  li
    margin-bottom $gutter-primary
    li
      margin-bottom 0

  .about,
  .urls
    margin-top $gutter-primary-lg
    @media screen and (min-width: $bp-sm)
      margin-top $gutter-primary-x-lg

  .collab-on
    color $color-highlight-primary
    margin-top $gutter-primary-lg
    @media screen and (min-width: $bp-sm)
      margin-top $gutter-primary-lg
    li
      font-style italic

  .urls
    clear both
    @media screen and (min-width: $bp-md)
      clear right
    > ul > li
      float left
      margin-right $gutter-primary-lg
      a
        opacity 0.5
        color #FFF
        transition all 0.3s ease
        &:hover,
        &:focus
          outline 0 none
        @media screen and (min-width: $bp-md)
          &:hover,
          &:focus
            opacity 1
