@import '../../styles/variables';

.collaborator-ind

  .main-content
    max-width $nav-width-desktop
    margin 0 auto
    @media (min-width $bp-md)
      padding-top $gutter-primary-xx-lg - $gutter-primary-lg

    .link-highlight-hover a
      opacity 1

  .col-left
    max-width 250px
    @media (min-width: $bp-sm)
      float left
      margin-right $gutter-primary-x-lg
      margin-bottom $gutter-primary-lg
    @media (min-width: $bp-lg)
      margin-right 0
      margin-bottom 0
    img
      width 100%

  .col-right
    clear both
    @media (min-width: $bp-sm)
      clear none
    @media (min-width: $bp-md)
      padding-left 287.5px

  h3,
  h5
    margin-bottom 0.15em
    color $color-highlight-primary
    letter-spacing 1px
    font-weight 300

  h5
    color $color-white

  i
    background-color $color-bg-secondary
    margin-right 0.55em

  li
    margin-bottom $gutter-primary
    li
      margin-bottom 0

  .about,
  .urls
    margin-top $gutter-primary-lg
    @media (min-width: $bp-sm)
      margin-top $gutter-primary-x-lg

  .collab-on
    color $color-highlight-primary
    margin-top $gutter-primary-lg
    @media (min-width: $bp-sm)
      margin-top $gutter-primary-lg
    li
      font-style italic

  .urls
    clear both
    width 100%
    display inline-block
    min-height 1px
    @media (min-width: $bp-sm)
      text-align center
    @media (min-width: $bp-md)
      clear right

    @media (min-width: $bp-md)
      text-align left

    > ul > li
      float left
      margin-right $gutter-primary-lg
      @media (min-width: $bp-sm)
        float none
        display inline-block
        vertical-align middle
      @media (min-width: $bp-md)
        float left

  .button-view-nav
    clear right
    @media (min-width: $bp-md)
      text-align left
    a
      width auto

