<section class="row collaborator-ind">

  <div ng-if="vm.collab">
    <h1 class="sr-only">{{vm.collab.name}}</h1>
  </div>

  <div class="main-content">

    <div ng-if="vm.collab">
      <div class="intro hide-sm">
        <h3>{{vm.collab.name}}</h3>
        <p>{{vm.collab.role}}</p>
      </div>

      <div class="col-left">
        <img ng-src="{{vm.collab.avatarUrl}}" alt="{{vm.collab.name}}" />
      </div>

      <div class="col-right">
        <div class="show-sm">
          <h5>{{vm.collab.name}}</h5>
          <p>{{vm.collab.role}}</p>
        </div>

        <ul ng-if="vm.collab.collabOn" class="collab-on">
          <li ng-repeat="collab in vm.collab.collabOn track by $index">{{collab}}</li>
        </ul>

        <div ng-if="vm.collab.about" ng-bind-html="vm.collab.about" class="about long-copy-line-height link-highlight-hover link-highlight-hover-border"></div>

        <div ng-if="vm.collab.urls" class="urls link-highlight-hover">

          <ul>
            <li ng-if="vm.collab.urls.website && vm.collab.urls.website.length">
              <a ng-href="{{vm.collab.urls.website}}" target="_blank"><i class="icon-link"></i>Website</a>
            </li>
            <li ng-if="vm.collab.urls.soundcloud && vm.collab.urls.soundcloud.length > 0">
              <a ng-href="{{vm.collab.urls.soundcloud}}" target="_blank"><i class="icon-s-s"></i>SoundCloud</a>
            </li>
            <li ng-if="vm.collab.urls.facebook && vm.collab.urls.facebook.length > 0">
              <a ng-href="{{vm.collab.urls.facebook}}" target="_blank"><i class="icon-s-f"></i>Facebook</a>
            </li>
            <li ng-if="vm.collab.urls.twitter && vm.collab.urls.twitter.length > 0">
              <a ng-href="{{vm.collab.urls.twitter}}" target="_blank"><i class="icon-s-t"></i>Twitter</a>
            </li>
            <li ng-if="vm.collab.urls.instagram && vm.collab.urls.instagram.length > 0">
              <a ng-href="{{vm.collab.urls.instagram}}" target="_blank"><i class="icon-s-i"></i>Instagram</a>
            </li>
            <li ng-if="vm.collab.urls.phone && vm.collab.urls.phone.length > 0">
              <a ng-href="tel:{{vm.collab.urls.phone}}" target="_blank"><i class="icon-phone"></i>{{vm.collab.urls.phone}}</a>
            </li>
            <li ng-if="vm.collab.urls.bio && vm.collab.urls.bio.length > 0">
              <a ng-href="{{vm.collab.urls.bio}}" target="_blank"><i class="icon-read"></i>Bio</a>
            </li>
          </ul>

        </div>

        <div class="row button-view-nav w-sub-copy">
          <a ui-sref="collaboratorsInd({collabId: vm.collabState.detail.next.collabId})" class="button">
            <span>
              Next collaborator
              <small>{{vm.collabState.detail.next.name}}</small>
            </span>
            <i class="icon-arrow-right"></i>
          </a>
          <br/>
          <a ui-sref="collaborators" class="text-link">All collaborators</a>
        </div>

      </div>
    </div>

    <div ng-if="vm.promiseError">
      <promise-error></promise-error>
    </div>
    
    <div ng-if="vm.promiseLoading">
      <promise-loading></promise-loading>
    </div>

  </div>

</div>
