<section class="row collaborator-ind">

  <div class="img-wrap">
    <img ng-src="{{vm.collab.images.avatar}}" alt="{{vm.collab.name}}" />
  </div>
  <div class="main-content">
    <h4>{{vm.collab.name}}</h4>
    <p>{{vm.collab.role}}</p>

    <div ng-if="vm.collab.about">{{vm.collab.about}}</div>

    <ul ng-if="vm.collab.collabOn">
      <li ng-repeat="collab in vm.collab.collabOn">{{collab}}</li>
    </ul>

    <div ng-if="vm.collab.urls">
      <h5>Links</h5>

      <ul>
        <li ng-if="vm.collab.urls.website">
          <a ng-href="{{vm.collab.urls.website}}" target="_blank">Website</a>
        </li>
        <li ng-if="vm.collab.urls.bio">
          <a ng-href="{{vm.collab.urls.bio}}" target="_blank">Bio</a>
        </li>
        <li ng-if="vm.collab.urls.soundcloud">
          <a ng-href="{{vm.collab.urls.soundcloud}}" target="_blank">SoundCloud</a>
        </li>
        <li ng-if="vm.collab.urls.facebook">
          <a ng-href="{{vm.collab.urls.facebook}}" target="_blank">Facebook</a>
        </li>
        <li ng-if="vm.collab.urls.twitter">
          <a ng-href="{{vm.collab.urls.twitter}}" target="_blank">Twitter</a>
        </li>
        <li ng-if="vm.collab.urls.phone">
          <a ng-href="tel:{{vm.collab.urls.phone}}" target="_blank">{{vm.collab.urls.phone}}</a>
        </li>
        <li ng-if="vm.collab.urls.other">
          <ul ng-repeat="other in vm.collab.urls.other">
            <li>
              <a ng-href="{{other.url}}" target="_blank">{{other.title}}</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>

</div>