/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_1808400eebc5a35422be042aaa5bc7a0.eot");
  src: url("./fontcustom_1808400eebc5a35422be042aaa5bc7a0.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_1808400eebc5a35422be042aaa5bc7a0.woff") format("woff"),
       url("./fontcustom_1808400eebc5a35422be042aaa5bc7a0.ttf") format("truetype"),
       url("./fontcustom_1808400eebc5a35422be042aaa5bc7a0.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_1808400eebc5a35422be042aaa5bc7a0.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-cross:before,
.icon-link:before,
.icon-nav:before,
.icon-next:before,
.icon-pause:before,
.icon-phone:before,
.icon-play:before,
.icon-read:before,
.icon-s-f:before,
.icon-s-i:before,
.icon-s-s:before,
.icon-s-t:before,
.icon-tick:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-left:before { content: "\f110"; }
.icon-arrow-right:before { content: "\f114"; }
.icon-cross:before { content: "\f10a"; }
.icon-link:before { content: "\f118"; }
.icon-nav:before { content: "\f10c"; }
.icon-next:before { content: "\f106"; }
.icon-pause:before { content: "\f107"; }
.icon-phone:before { content: "\f115"; }
.icon-play:before { content: "\f108"; }
.icon-read:before { content: "\f116"; }
.icon-s-f:before { content: "\f10d"; }
.icon-s-i:before { content: "\f119"; }
.icon-s-s:before { content: "\f10e"; }
.icon-s-t:before { content: "\f10f"; }
.icon-tick:before { content: "\f10b"; }
